{% extends '::layout.html.twig' %}

{% block body -%}

    <div class="row">
        <div id="bouton" class="col-sm-12 col-md-2 col-lg-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="{{ path('pc_home') }}">Retour</a></li>
                <li><a href="{{ path('alerte_edit', { 'id': entity.id }) }}">Editer</a>  </li>
                <li>{{ form(delete_form) }}</li>
            </ul>
            
        </div>
        <div class="col-sm-12 col-md-10 col-lg-10">
                <h3>Alerte {{ entity.intitule }}<small> du {{ entity.dateAlerte|date('Y-m-d H:i') }}</small></h3>
            <p>{{ entity.objet }}</p>
        </div>
    </div>
{% endblock %}
