{% extends '::layout.html.twig' %}

{% block body %}
        <div class="container container-fluid">
        <div class="row">
            <div id="bouton" class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a class="pc_sidebar_element" href="{{ path('fos_user_profile_edit') }}">Editer</a></li>
                    <li><a id="" name="" class="pc_sidebar_element" href="{{ path('pc_home') }}"> Retour au menu</a></a></li>
                </ul>
            </div>
            <div class="col-sm-9  col-md-10  main">
                <div class ="pc_info_group form-horizontal">
                    <div class="form-group">
                        <label class='col-sm-3 pc_label control-label'>Nom d'utilisateur</label>
                        <div class='col-sm-4'><input disabled="disabled" class="form-control" value='{{ app.user.username }}'/></div>
                    </div>
                    <div class="form-group">
                        <label class='col-sm-3 pc_label control-label'>E-mail</label>
                        <div class='col-sm-4'><input disabled="disabled" class="form-control" value='{{ app.user.email  }}'/></div>
                    </div>
                    <div class="form-group">
                        <label class='col-sm-3 pc_label control-label'>Nom</label>
                        <div class='col-sm-4'><input disabled="disabled" class="form-control" value='{{ app.user.lastName }}'/></div>
                    </div>
                    <div class="form-group">
                        <label class='col-sm-3 pc_label control-label'>Prénom</label>
                        <div class='col-sm-4'><input disabled="disabled" class="form-control" value='{{ app.user.firstName }}'/></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
{% endblock %}
