{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mapping list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Typeprincipal</th>
                <th>Typesecondaire1</th>
                <th>Typesecondaire2</th>
                <th>Typesecondaire3</th>
                <th>M1</th>
                <th>M2</th>
                <th>M3</th>
                <th>M4</th>
                <th>M5</th>
                <th>M6</th>
                <th>M7</th>
                <th>M8</th>
                <th>M9</th>
                <th>M10</th>
                <th>M11</th>
                <th>M12</th>
                <th>M13</th>
                <th>M14</th>
                <th>M15</th>
                <th>M16</th>
                <th>M17</th>
                <th>M18</th>
                <th>M19</th>
                <th>M20</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('mapping_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.typeprincipal }}</td>
                <td>{{ entity.typesecondaire1 }}</td>
                <td>{{ entity.typesecondaire2 }}</td>
                <td>{{ entity.typesecondaire3 }}</td>
                <td>{{ entity.m1 }}</td>
                <td>{{ entity.m2 }}</td>
                <td>{{ entity.m3 }}</td>
                <td>{{ entity.m4 }}</td>
                <td>{{ entity.m5 }}</td>
                <td>{{ entity.m6 }}</td>
                <td>{{ entity.m7 }}</td>
                <td>{{ entity.m8 }}</td>
                <td>{{ entity.m9 }}</td>
                <td>{{ entity.m10 }}</td>
                <td>{{ entity.m11 }}</td>
                <td>{{ entity.m12 }}</td>
                <td>{{ entity.m13 }}</td>
                <td>{{ entity.m14 }}</td>
                <td>{{ entity.m15 }}</td>
                <td>{{ entity.m16 }}</td>
                <td>{{ entity.m17 }}</td>
                <td>{{ entity.m18 }}</td>
                <td>{{ entity.m19 }}</td>
                <td>{{ entity.m20 }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('mapping_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('mapping_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('mapping_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
