{% extends "::layout.html.twig" %}
{% block title %}{{ parent() }} - Faire une demande{% endblock %}
{% block stylesheets %}{{parent()}}{% endblock %}

{% block javascripts %}{{parent()}}{% endblock %}

{# ce block est utilisé quand l'utilisateur est connecté #}
{% block body %}
    {% if form is not null%}
    <div class="container">
	<div class="row pc_info_group">
            <h2>Nouvelle demande</h2>
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }} 
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                                <span class="round-tab">1</span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                                <span class="round-tab">2</span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                                <span class="round-tab">3</span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                                <span class="round-tab"><i class="glyphicon glyphicon-ok"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
                    <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="step1">
                        <div class="form-group">
                            {{ form_label(form.intitule, "Intitulé *", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.intitule) }}
                            <div class="col-sm-4">
                            {{ form_widget(form.intitule, {'attr': {'class': ''}})}}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.objet, "Objet *", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.objet) }}
                            <div class="col-sm-4">
                            {{ form_widget(form.objet, {'attr': {'class': ''}})}}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.observations, "Observations", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.observations) }}
                            <div class="col-sm-4">
                            {{ form_widget(form.observations, {'attr': {'class': ''}})}}
                            </div>
                        </div>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn pc_skyblue_btn next-step">Suivant</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step2">
                        <div class="form-group">
                            {{ form_label(form.cocontractant, "Co-contractant *", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.cocontractant) }}
                            <div class="col-sm-4">
                            {{ form_widget(form.cocontractant, {'attr': {'class': ''}})}}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.adresseSiege, "Adresse du siège *", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.adresseSiege) }}
                            <div class="col-sm-4">
                            {{ form_widget(form.adresseSiege, {'attr': {'class': ''}})}}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.titreRepresentant, "Titre du représentant", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.titreRepresentant) }}
                            <div class="col-sm-4">
                            {{ form_widget(form.titreRepresentant, {'attr': {'class': ''}})}}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.nomRepresentant, "Nom du représentant", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.nomRepresentant) }}
                            <div class="col-sm-4">
                            {{ form_widget(form.nomRepresentant, {'attr': {'class': ''}})}}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.prenomRepresentant, "Prenom du représentant", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.prenomRepresentant) }}
                            <div class="col-sm-4">
                            {{ form_widget(form.prenomRepresentant, {'attr': {'class': ''}})}}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.fonctionRepresentant, "Fonction du représentant", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.fonctionRepresentant) }}
                            <div class="col-sm-4">
                            {{ form_widget(form.fonctionRepresentant, {'attr': {'class': ''}})}}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.demandeurPolytech, "Demandeur de Polytech'Montpellier", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.demandeurPolytech) }}
                            <div class="col-sm-4">
                            {{ form_widget(form.demandeurPolytech, {'attr': {'class': ''}})}}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.dateEffet, "Date d'effet de la convention", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.dateEffet) }}
                            <div class="col-sm-4">
                            {{ form_widget(form.dateEffet)}}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.dateEcheance, "Date d'echeance de la convention", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.dateEcheance) }}
                            <div class="col-sm-4">
                            {{ form_widget(form.dateEcheance)}}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.actionDemandee, "Action demandée", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.actionDemandee) }}
                            <div class="col-sm-4">
                            {{ form_widget(form.actionDemandee, {'attr': {'class': ''}})}}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.fluxFinancier, "Flux financier *(€)", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.fluxFinancier) }}
                            <div class="col-sm-4">
                            {{ form_widget(form.fluxFinancier, {'attr': {'class': ''}})}}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.reservationFonds, "Résérvation de fonds(€)", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.reservationFonds) }}
                            <div class="col-sm-4">
                            {{ form_widget(form.reservationFonds, {'attr': {'class': ''}})}}
                            </div>
                        </div>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn pc_skyblue_btn prev-step">Précedent</button></li>
                            <li><button type="button" class="btn pc_skyblue_btn next-step">Suivant</button></li>
                        </ul>
                    </div>
                        <div class="tab-pane" role="tabpanel" id="step3">
                                {% block content %}    
                                {% endblock %}
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn pc_skyblue_btn prev-step">Précedent</button></li>
                                <li><button type="button" class="btn pc_skyblue_btn btn-info-full next-step">Suivant</button></li>
                            </ul>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="complete">
                            <p>Votre demande est prête. Voulez-vous la valider ?</p>
                            <div class="form-group center">
                                {{ form_widget(form.submit, {'attr': {'class': 'btn pc_skybluebtn'}}) }}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
       </div>
    </div>
    {%else%}
        <div>
            <p> Impossible d'afficher le formulaire de demande. Veillez réessayez. Si le problème persite, contactez l'administrateur.</p>
        </div>
    {% endif %}

{% block script %}
    <style>
        .wizard {
            margin: 20px auto;
        }

        .wizard .nav-tabs {
            position: relative;
            margin: 40px auto;
            margin-bottom: 0;
            border-bottom-color: #e0e0e0;
        }

        .wizard > div.wizard-inner {
            position: relative;
        }

        .connecting-line {
            height: 2px;
            background: #004874;
            position: absolute;
            width: 80%;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 50%;
            z-index: 1;
        }

        .wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
            color: #555555;
            cursor: default;
            border: 0;
            border-bottom-color: transparent;
        }

        span.round-tab {
            width: 70px;
            height: 70px;
            line-height: 70px;
            display: inline-block;
            border-radius: 100px;
            background: #009FDE;
            border: 2px solid #004874;
            z-index: 2;
            position: absolute;
            left: 0;
            text-align: center;
            font-size: 25px;
            color :#fff;
        }
        span.round-tab i{
            color:#fff;
        }
        .wizard li.active span.round-tab {
            background: #fff;
            border: 2px solid #004874;
            color :#004874;

        }
        .wizard li.active span.round-tab i{
            color: #fff;
        }

        span.round-tab:hover {
            color: #333;
            border: 2px solid #333;
        }

        .wizard .nav-tabs > li {
            width: 25%;
        }

        .wizard li:after {
            content: " ";
            position: absolute;
            left: 46%;
            opacity: 0;
            margin: 0 auto;
            bottom: 0px;
            border: 5px solid transparent;
            border-bottom-color: #5bc0de;
            transition: 0.1s ease-in-out;
        }

        .wizard li.active:after {
            content: " ";
            position: absolute;
            left: 46%;
            opacity: 1;
            margin: 0 auto;
            bottom: 0px;
            border: 10px solid transparent;
            border-bottom-color: #004874;
        }

        .wizard .nav-tabs > li a {
            width: 70px;
            height: 70px;
            margin: 20px auto;
            border-radius: 100%;
            padding: 0;
        }

            .wizard .nav-tabs > li a:hover {
                background: transparent;
            }

        .wizard .tab-pane {
            position: relative;
            padding-top: 50px;
        }

        .wizard h3 {
            margin-top: 0;
        }

        @media( max-width : 585px ) {

            .wizard {
                width: 90%;
                height: auto !important;
            }

            span.round-tab {
                font-size: 16px;
                width: 50px;
                height: 50px;
                line-height: 50px;
            }

            .wizard .nav-tabs > li a {
                width: 50px;
                height: 50px;
                line-height: 50px;
            }

            .wizard li.active:after {
                content: " ";
                position: absolute;
                left: 35%;
            }
        }
    </style>
    
    <script type="text/javascript">
        $(document).ready(function () {
        
            $('.nav-tabs > li a[title]').tooltip();

            $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
                var $target = $(e.target);
                if ($target.parent().hasClass('disabled')) {
                    return false;
                }
            });

            $(".next-step").click(function (e) {
                var form = $( ".form-horizontal" );
                if (form.valid()){
                    alert( "formulaire validé, vous pouvez continuer");
                    var $active = $('.wizard .nav-tabs li.active');
                    $active.next().removeClass('disabled');
                    nextTab($active);
                }else{
                    alert( "formulaire invalidé, veillez remplir les champs manquants");
                }
            });
            $(".prev-step").click(function (e) {
                var $active = $('.wizard .nav-tabs li.active');
                prevTab($active);
            });
        });

        function nextTab(elem) {
            $(elem).next().find('a[data-toggle="tab"]').click();
        }
        function prevTab(elem) {
            $(elem).prev().find('a[data-toggle="tab"]').click();
        }
    </script>
{% endblock %}
    
{% endblock %}