{% extends '::layout.html.twig' %}
{% block title %}{{ parent() }} - Fiche{% endblock %}
{% block stylesheets %}{{parent()}}{% endblock %}

{% block javascripts %}{{parent()}}{% endblock %}

{# ce block est utilisé quand l'utilisateur est connecté #}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div id="menu" class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    {% block barre %}
                    {% endblock %}
                </ul>
            </div>
            <div class="col-sm-9  col-md-10  main">
                <h3>Fiche {{ entity.type.nom }}- {{ entity.sousType.nom }}- {{ entity.id }}</h3>
                <div class="tabbable-panel">
                    <div class="tabbable-line">
                         <ul class="nav nav-tabs ">
                            {% block tabs %}
                            <li class="active"><a href="#tab_default_1" data-toggle="tab">Informations </a>
                            </li>
                            <li><a href="#tab_default_2" data-toggle="tab">Commentaires </a>
                            </li>
                            <li><a href="#actions" data-toggle="tab">Suivi d'actions </a>
                            </li>
                            <li><a href="#tab_default_3" data-toggle="tab">Avenants<span class="label label-primary">{{ avenantsCount }}</span> </a>
                            </li>
                            <li>
                            <a href="#tab_default_4" data-toggle="tab">Alertes </a>
                            </li>
                            <li>
                            <a href="#tab_default_5" data-toggle="tab">Documents </a>
                            </li>
                            {% endblock %}
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_default_1">
                                {% block content %}
                                {% endblock %}
                            </div>
                            <div class="tab-pane" id="tab_default_2">
                                {% for message in messages%}
                                    <div class ="panel panel-default messagebox">
                                        <div class="panel-body messagebox-body">{{message.message}}</div>
                                        <div class="panel-heading messagebox-info">par {{ message.auteur}}, {{message.date |date('d-m-Y')}}</div>
                                    </div>
                                {%endfor%}
                                {{form(messageForm)}}
                            </div>
                            <div class="tab-pane" id="actions">
                                {% for action in actions%}
                                    <div class ="panel panel-default messagebox">
                                        <div class="panel-body messagebox-body">{{action.contenu}}</div>
                                        <div class="panel-heading messagebox-info">par {{ action.auteur}}, {{action.dateDeCreation |date('d-m-Y')}}</div>
                                    </div>
                                {%endfor%}
                                {{form(actionForm)}}
                            </div>
                            <div class="tab-pane" id="tab_default_3">
                                <a data-placement="top" data-toggle="modal" data-target="#new_avenant" class="btn pc_btn">ajouter un avenant</a>
                                <table class="records_list table table-bordred table-striped">
                                    <thead>
                                        <tr>
                                             <th><input type="checkbox" id="checkall" /></th>
                                            <th>Id</th>
                                            <th>Objet</th>
                                            <th>Motif</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for avenant in avenants %}
                                        <tr>
                                            <td><input type="checkbox" class="checkthis" /></td>
                                            <td><a href="{{ path('avenant_show', { 'id': avenant.id }) }}">{{ avenant.id }}</a></td>
                                            <td><a href="{{ path('avenant_show', { 'id': avenant.id }) }}">{{ avenant.objet }}</a></td>
                                            <td>{{ avenant.motif }}</td>
                                            <td>
                                                <a  data-placement="top" data-toggle="tooltip" title="Voir avenant" class="btn pc_skyblue_btn btn-xs" href="{{ path('avenant_show', { 'id': avenant.id }) }}" ><span class="glyphicon glyphicon-eye-open"></span></a>
                                                <a data-placement="top" data-toggle="tooltip" title="Télécharger avenant" class="btn pc_skyblue_btn btn-xs" href="{{ path('avenant_pdf', { 'id': avenant.id ,'ownerId' :entity.id }) }}" ><span class="fa  fa-download"></span></a>
                                            </td>    
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tab_default_4">
                                <a data-placement="top" data-toggle="modal" data-target="#new_alerte" class="btn pc_btn">ajouter une alerte</a>
                                <table class="records_list table table-bordred table-striped">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Intitule</th>
                                            <th>Contenu</th>
                                            <th>Date d'effet</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for alerte in alertes %}
                                        <tr>
                                            <td><a href="{{ path('alerte_show', { 'id': alerte.id }) }}">{{ alerte.id }}</a></td>
                                            <td><a href="{{ path('alerte_show', { 'id': alerte.id }) }}">{{ alerte.intitule }}</a></td>
                                            <td>{{ alerte.objet }}</td>
                                            <td>{% if alerte.dateAlerte %}{{ alerte.dateAlerte|date('d-m-Y H:i') }}{% endif %}</td>
                                            <td>
                                                <a  data-placement="top" data-toggle="tooltip" title="Voir fiche" class="btn btn-primary btn-xs" href="{{ path('alerte_show', { 'id': alerte.id }) }}" ><span class="glyphicon glyphicon-eye-open"></span></a>
                                                <a  data-placement="top" data-toggle="tooltip" title="Voir fiche" class="btn btn-primary btn-xs" href="{{ path('alerte_show', { 'id': alerte.id }) }}" ><span class="glyphicon glyphicon-eye-open"></span></a>
                                            </td>    
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tab_default_5">
                                <a data-placement="top" data-toggle="modal" data-target="#new_fichier" class="btn pc_btn">ajouter un document</a>
                                <table class="records_list table table-bordred table-striped">
                                    <thead>
                                        <tr>
                                             <th><input type="checkbox" id="checkall" /></th>
                                            <th>Id</th>
                                            <th>Intitule</th>
                                            <th>Date d'ajout</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for fichier in fichiers %}
                                        <tr>
                                            <td><input type="checkbox" class="checkthis" /></td>
                                            <td><a href="{{ path('fichier_show', { 'id': fichier.id }) }}">{{ fichier.id }}</a></td>
                                            <td><a href="{{ path('fichier_show', { 'id': fichier.id }) }}">{{ fichier.nom }}</a></td>
                                            <td>{% if fichier.dateDeCreation %}{{ fichier.dateDeCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                                            <td>
                                                <a  data-placement="top" data-toggle="tooltip" title="Télécharger fichier" class="btn btn-primary btn-xs" href="{{ path('fiche_download', { 'filename': fichier.nom }) }}" ><span class="glyphicon glyphicon-download"></span></a>
                                                <a data-placement="top" data-toggle="tooltip" title="voir fichier" class="btn btn-primary btn-xs" href="{{ path('fichier_show', { 'id': fichier.id }) }}" ><span class="glyphicon glyphicon-eye-open"></span></a>
                                            </td>    
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% block more_content %}
                            {% endblock %}        
                        </div>
                    </div>
                </div>
            </div>
	</div>
    </div>
    
    {% block modals %}
        <div class="modal fade" style="top:25%;outline: none;" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
        <div class="modal-dialog" style="width:50%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Suppression fiche</h4>
                </div>
                <div class="modal-body">
                       {{form(delete_form)}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" style="top:25%;outline: none;" id="new_avenant" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog" style="width:50%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Création avenant</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(avenant_form, {'attr': {'class': 'form-horizontal'}}) }}
                    {{ form_errors(avenant_form) }}
                    <div class="form-group">
                        {{ form_label(avenant_form.typePartenaire, "Type de partenaire", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(avenant_form.typePartenaire) }}
                        <div class="col-sm-4">
                            {{ form_widget(avenant_form.typePartenaire, {'attr': {'class': ''}})}}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(avenant_form.motif, "Motif de l'avenant", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(avenant_form.motif) }}
                        <div class="col-sm-4">
                            {{ form_widget(avenant_form.motif, {'attr': {'class': ''}})}}
                        </div>
                    </div>
                        
                    <div class="form-group">
                        {{ form_label(avenant_form.objet, "Objet de l'avenant", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(avenant_form.objet) }}
                        <div class="col-sm-4">
                            {{ form_widget(avenant_form.objet, {'attr': {'class': 'determinant'}})}}
                            <button type="button" class="btn pc_btn" onclick="determiner()">Confirmer objet</button>
                        </div>
                    </div>
                    
                    <div id="modifier" class="hidden">
                    <div class="form-group">
                        {{ form_label(avenant_form.numeroParagrapheModifie, "Numéro du paragraphe modifié", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(avenant_form.numeroParagrapheModifie) }}
                        <div class="col-sm-4">
                            {{ form_widget(avenant_form.numeroParagrapheModifie, {'attr': {'class': ''}})}}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(avenant_form.numeroArticleModifie, "Numéro de l'article modifié", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(avenant_form.numeroArticleModifie) }}
                        <div class="col-sm-4">
                            {{ form_widget(avenant_form.numeroArticleModifie, {'attr': {'class': ''}})}}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(avenant_form.intituleArticleModifie, "Intitulé de l'article modifié", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(avenant_form.intituleArticleModifie) }}
                        <div class="col-sm-4">
                            {{ form_widget(avenant_form.intituleArticleModifie, {'attr': {'class': ''}})}}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(avenant_form.nouveauTexte, "Nouveau texte", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(avenant_form.nouveauTexte) }}
                        <div class="col-sm-4">
                            {{ form_widget(avenant_form.nouveauTexte, {'attr': {'class': ''}})}}
                        </div>
                    </div>
                    </div>
                    <div id="proroger" class="hidden">
                    <div class="form-group">
                        {{ form_label(avenant_form.numeroArticleDuree, "Numéro de l'article Durée", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(avenant_form.numeroArticleDuree) }}
                        <div class="col-sm-4">
                            {{ form_widget(avenant_form.numeroArticleDuree, {'attr': {'class': ''}})}}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(avenant_form.intituleArticleDuree, "Intitulé de l'article Durée", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(avenant_form.intituleArticleDuree) }}
                        <div class="col-sm-4">
                            {{ form_widget(avenant_form.intituleArticleDuree, {'attr': {'class': ''}})}}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(avenant_form.nbMoisProrogation, "Nombre de mois de prorogation", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(avenant_form.nbMoisProrogation) }}
                        <div class="col-sm-4">
                            {{ form_widget(avenant_form.nbMoisProrogation, {'attr': {'class': ''}})}}
                        </div>
                    </div>
                    </div>
                    {{ form_rest(avenant_form) }}
                    {{ form_end(avenant_form) }}
                </div>
            </div>
        </div>
    </div>
                
    <div class="modal fade" style="top:25%;outline: none;  " id="new_alerte" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog" style="width:50%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Création alerte</h4>
                </div>
                <div class="modal-body"> 
                    {{ form_start(alert_form, {'attr': {'class': 'form-horizontal'}}) }}
                    {{ form_errors(alert_form) }}
                   <div class="form-group">
                        {{ form_label(alert_form.intitule, "Intitulé", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(alert_form.intitule) }}
                        <div class="col-sm-4">
                            {{ form_widget(alert_form.intitule, {'attr': {'class': ''}})}}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(alert_form.objet, "Objet de l'alerte", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(alert_form.objet) }}
                        <div class="col-sm-4">
                            {{ form_widget(alert_form.objet, {'attr': {'class': ''}})}}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(alert_form.dateAlerte, "Date d'écheance", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(alert_form.dateAlerte) }}
                        <div class="col-sm-4">
                            {{ form_widget(alert_form.dateAlerte, {'attr': {'class': ''}})}}
                        </div>
                    </div>
                    {{ form_rest(alert_form) }}
                    {{ form_end(alert_form) }}
                </div>
            </div>
        </div>
    </div>
                
    <div class="modal fade" style="top:25%;outline: none;" id="new_fichier" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Ajout fichier</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(fichier_form, {'attr': {'class': 'form-horizontal'}}) }}
                    {{ form_errors(fichier_form) }}
                    {{ form_rest(fichier_form) }}
                    {{ form_end(fichier_form) }}
                </div>
            </div>
        </div>
    </div> 

    <div class="modal fade" style="top:25%;outline: none;" id="delete" aria-labelledby="delete" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Suppression</h4>
                </div>
                <div class="modal-body">
                    {{form(delete_form)}}
                </div>
            </div>
        </div>
    </div> 
    {% endblock %}
    
    
<script  type="text/javascript">
    function determiner(){
        var x = document.getElementById("pc_fichebundle_avenant_objet").selectedIndex;
        var y = document.getElementById("pc_fichebundle_avenant_objet").options;
        var choix = y[x].value;
        alert(y[x].value);
        if (choix === 'modifier'){
            $('#modifier').removeClass('hidden');
            $('#modifier').show();
            $('#proroger').hide();
            $('#proroger').addClass('hidden');
        }
        if (choix === 'proroger'){
            $('#proroger').removeClass('hidden');
            $('#proroger').show();
            $('#modifier').hide();
            $('#modifier').addClass('hidden');
        }
        if (choix === 'proroger et modifier'){
            $('#modifier').removeClass('hidden');
            $('#modifier').show();
            $('#proroger').removeClass('hidden');
            $('#proroger').show();
        }
    }
</script>
{% endblock %}
