{% extends '::layout.html.twig' %}
{% block title %}{{ parent() }} - Demande{% endblock %}
{% block stylesheets %}{{parent()}}{% endblock %}

{% block javascripts %}{{parent()}}{% endblock %}

{# ce block est utilisé quand l'utilisateur est connecté #}
{% block body -%}
    <div class="container container-fluid">
        <div class="row">
            <div id="bouton" class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    {% block barre %}
                        <li><a id="" name="" class="pc_sidebar_element" href="{{ path('demande') }}"> Retour à la liste</a></a></li>
                    {% endblock %}
                </ul>
            </div>
            <div class="col-sm-9  col-md-10  main">
                <h3>Demande {{ entity.type.nom }}- {{ entity.sousType.nom }}- {{ entity.id }}</h3>
                <div class="tabbable-panel">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs ">
                            {% block tabs %}
                                <li class="active"><a href="#tab_default_1" data-toggle="tab">Informations </a></li>
                                <li><a href="#tab_default_2" data-toggle="tab">Commentaires </a></li>
                                <li><a href="#actions" data-toggle="tab">Suivi d'actions </a></li>
                                <li><a href="#tab_default_3" data-toggle="tab">Avenants </a></li>
                                <li><a href="#tab_default_5" data-toggle="tab">Documents </a></li>
                            {% endblock %}
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_default_1">
                                {% block content %}
                                {% endblock %}
                            </div>
                            <div class="tab-pane" id="tab_default_2">
                                {% for message in messages%}
                                    <div class ="panel panel-default messagebox">
                                        <div class="panel-body messagebox-body">{{message.message}}</div>
                                        <div class="panel-heading messagebox-info">par {{ message.auteur}}, {{message.date |date('d-m-Y')}}</div>
                                    </div>
                                {%endfor%}
                                <a href="{{path('fichemessage_new', { 'id': entity.id })}}" class="btn pc_btn">Nouveau message</a>
                            </div>
                            <div class="tab-pane" id="actions">
                                {% for action in actions%}
                                    <div class ="panel panel-default messagebox">
                                        <div class="panel-body messagebox-body">{{action.contenu}}</div>
                                        <div class="panel-heading messagebox-info">par {{ action.auteur}}, {{action.dateDeCreation |date('d-m-Y')}}</div>
                                    </div>
                                {%endfor%}
                                <a href="{{path('action_new', { 'id': entity.id })}}" class="btn pc_btn">Nouvelle action</a>
                            </div>
                            <div class="tab-pane" id="tab_default_3">
                                <a href="{{path('avenant_new', { 'id': entity.id })}}" class="btn pc_btn">Nouvel avenant</a>
                                <table class="records_list table table-bordred table-striped">
                                    <thead>
                                        <tr>
                                             <th><input type="checkbox" id="checkall" /></th>
                                            <th>Id</th>
                                            <th>Objet</th>
                                            <th>Motif</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for avenant in avenants %}
                                        <tr>
                                            <td><input type="checkbox" class="checkthis" /></td>
                                            <td><a href="{{ path('avenant_showrequest', { 'id': avenant.id }) }}">{{ avenant.id }}</a></td>
                                            <td><a href="{{ path('avenant_showrequest', { 'id': avenant.id }) }}">{{ avenant.objet }}</a></td>
                                            <td>{{ avenant.motif }}</td>
                                            <td><a  data-placement="top" data-toggle="tooltip" title="Voir fiche" class="btn btn-primary btn-xs" href="{{ path('avenant_showrequest', { 'id': avenant.id }) }}" ><span class="glyphicon glyphicon-eye-open"></span></a></td>    
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tab_default_5">
                                <a href="{{path('fichier_new', { 'id': entity.id })}}" class="btn pc_btn">Nouveau document</a>
                                <table class="records_list table table-bordred table-striped">
                                    <thead>
                                        <tr>
                                             <th><input type="checkbox" id="checkall" /></th>
                                            <th>Id</th>
                                            <th>Intitule</th>
                                            <th>Date d'ajout</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for fichier in fichiers %}
                                        <tr>
                                            <td><input type="checkbox" class="checkthis" /></td>
                                            <td><a href="{{ path('fiche_show', { 'id': fichier.id }) }}">{{ fichier.id }}</a></td>
                                            <td><a href="{{ path('fiche_show', { 'id': fichier.id }) }}">{{ fichier.nom }}</a></td>
                                            <td>{% if fichier.dateDeCreation %}{{ fichier.dateDeCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                                            <td><a  data-placement="top" data-toggle="tooltip" title="Voir fiche" class="btn btn-primary btn-xs" href="{{ path('fiche_download', { 'filename': fichier.nom }) }}" ><span class="glyphicon glyphicon-download"></span></a></td>    
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% block tabcontent %}
                                
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
	</div>
    </div>
    {% block modals %}       
    {% endblock%}
{% endblock %}
