{% extends '::layout.html.twig' %}
{% block title %}{{ parent() }} - Fiche{% endblock %}
{% block stylesheets %}{{parent()}}{% endblock %}

{% block javascripts %}{{parent()}}{% endblock %}

{# ce block est utilisé quand l'utilisateur est connecté #}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div id="menu" class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    {% block barre %}
                    {% endblock %}
                </ul>
            </div>
            <div class="col-sm-9  col-md-10  main">
                <h3>Fiche {{ entity.type.nom }}- {{ entity.sousType.nom }}- {{ entity.id }}</h3>
                <div class="tabbable-panel">
                    <div class="tabbable-line">
                         <ul class="nav nav-tabs ">
                            {% block tabs %}
                            <li class="active"><a href="#tab_default_1" data-toggle="tab">Informations </a>
                            </li>
                            <li><a href="#tab_default_2" data-toggle="tab">Commentaires </a>
                            </li>
                            <li><a href="#actions" data-toggle="tab">Suivi d'actions </a>
                            </li>
                            <li><a href="#tab_default_3" data-toggle="tab">Avenants<span class="label label-primary">{{ avenantsCount }}</span> </a>
                            </li>
                            <li>
                            <a href="#tab_default_4" data-toggle="tab">Alertes </a>
                            </li>
                            <li>
                            <a href="#tab_default_5" data-toggle="tab">Documents </a>
                            </li>
                            {% endblock %}
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_default_1">
                                {% block content %}
                                {% endblock %}
                            </div>
                            <div class="tab-pane" id="tab_default_2">
                                {% for message in messages%}
                                    <div class ="panel panel-default messagebox">
                                        <div class="panel-body messagebox-body">{{message.message}}</div>
                                        <div class="panel-heading messagebox-info">par {{ message.auteur}}, {{message.date |date('d-m-Y')}}</div>
                                    </div>
                                {%endfor%}
                                <a href="{{path('fichemessage_new', { 'id': entity.id })}}" class="btn pc_btn">Nouveau message</a>
                            </div>
                            <div class="tab-pane" id="actions">
                                {% for action in actions%}
                                    <div class ="panel panel-default messagebox">
                                        <div class="panel-body messagebox-body">{{action.contenu}}</div>
                                        <div class="panel-heading messagebox-info">par {{ action.auteur}}, {{action.dateDeCreation |date('d-m-Y')}}</div>
                                    </div>
                                {%endfor%}
                                <a href="{{path('action_new', { 'id': entity.id })}}" class="btn pc_btn">Nouvel action</a>
                            </div>
                            <div class="tab-pane" id="tab_default_3">
                                <a href="{{path('avenant_new', { 'id': entity.id })}}" class="btn pc_btn">Nouvel avenant</a>
                                <table class="records_list table table-bordred table-striped">
                                    <thead>
                                        <tr>
                                             <th><input type="checkbox" id="checkall" /></th>
                                            <th>Id</th>
                                            <th>Objet</th>
                                            <th>Motif</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for avenant in avenants %}
                                        <tr>
                                            <td><input type="checkbox" class="checkthis" /></td>
                                            <td><a href="{{ path('avenant_show', { 'id': avenant.id }) }}">{{ avenant.id }}</a></td>
                                            <td><a href="{{ path('avenant_show', { 'id': avenant.id }) }}">{{ avenant.objet }}</a></td>
                                            <td>{{ avenant.motif }}</td>
                                            <td>
                                                <a  data-placement="top" data-toggle="tooltip" title="Voir avenant" class="btn pc_skyblue_btn btn-xs" href="{{ path('avenant_show', { 'id': avenant.id }) }}" ><span class="glyphicon glyphicon-eye-open"></span></a>
                                                <a data-placement="top" data-toggle="tooltip" title="Télécharger avenant" class="btn pc_skyblue_btn btn-xs" href="{{ path('avenant_pdf', { 'id': avenant.id ,'ownerId' :entity.id }) }}" ><span class="fa  fa-download"></span></a>
                                            </td>    
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tab_default_4">
                                <a href="{{path('fichemessage_new', { 'id': entity.id })}}" class="btn pc_btn">Nouvelle alerte</a>
                                <table class="records_list table table-bordred table-striped">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Intitule</th>
                                            <th>Contenu</th>
                                            <th>Date d'effet</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for alerte in alertes %}
                                        <tr>
                                            <td><a href="{{ path('alerte_show', { 'id': alerte.id }) }}">{{ alerte.id }}</a></td>
                                            <td><a href="{{ path('alerte_show', { 'id': alerte.id }) }}">{{ alerte.intitule }}</a></td>
                                            <td>{{ alerte.objet }}</td>
                                            <td>{% if alerte.dateAlerte %}{{ alerte.dateAlerte|date('d-m-Y H:i') }}{% endif %}</td>
                                            <td>
                                                <a  data-placement="top" data-toggle="tooltip" title="Voir fiche" class="btn btn-primary btn-xs" href="{{ path('alerte_show', { 'id': alerte.id }) }}" ><span class="glyphicon glyphicon-eye-open"></span></a>
                                                <a  data-placement="top" data-toggle="tooltip" title="Voir fiche" class="btn btn-primary btn-xs" href="{{ path('alerte_show', { 'id': alerte.id }) }}" ><span class="glyphicon glyphicon-eye-open"></span></a>
                                            </td>    
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tab_default_5">
                                <a href="{{path('fichier_new', { 'id': entity.id })}}" class="btn pc_btn">Nouveau document</a>
                                <table class="records_list table table-bordred table-striped">
                                    <thead>
                                        <tr>
                                             <th><input type="checkbox" id="checkall" /></th>
                                            <th>Id</th>
                                            <th>Intitule</th>
                                            <th>Date d'ajout</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for fichier in fichiers %}
                                        <tr>
                                            <td><input type="checkbox" class="checkthis" /></td>
                                            <td><a href="{{ path('fichier_show', { 'id': fichier.id }) }}">{{ fichier.id }}</a></td>
                                            <td><a href="{{ path('fichier_show', { 'id': fichier.id }) }}">{{ fichier.nom }}</a></td>
                                            <td>{% if fichier.dateDeCreation %}{{ fichier.dateDeCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                                            <td>
                                                <a  data-placement="top" data-toggle="tooltip" title="Télécharger fichier" class="btn btn-primary btn-xs" href="{{ path('fiche_download', { 'filename': fichier.nom }) }}" ><span class="glyphicon glyphicon-download"></span></a>
                                                <a data-placement="top" data-toggle="tooltip" title="voir fichier" class="btn btn-primary btn-xs" href="{{ path('fichier_show', { 'id': fichier.id }) }}" ><span class="glyphicon glyphicon-eye-open"></span></a>
                                            </td>    
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% block more_content %}
                            {% endblock %}        
                        </div>
                    </div>
                </div>
            </div>
	</div>
    </div>
    
    {% block modals %}
        <div class="modal fade" id="delete" aria-labelledby="delete" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title custom_align" id="Heading">Suppression de la fiche</h4>
                    </div>
                    <div class="modal-body">
                        {{form(delete_form)}}
                    </div>
                </div>
            </div>
        </div> 
    {% endblock %}
    
    

{% endblock %}
