<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
	<META NAME="AUTHOR" CONTENT="Bruno DE LOURENCO">
	<META NAME="CREATED" CONTENT="20151020;142300000000000">
	<META NAME="CHANGEDBY" CONTENT="bruno de-lourenco">
	<META NAME="CHANGED" CONTENT="20151215;125300000000000">
	<META NAME="AppVersion" CONTENT="15.0000">
	<META NAME="Company" CONTENT="Polytech'Montpellier">
	<META NAME="DocSecurity" CONTENT="0">
	<META NAME="HyperlinksChanged" CONTENT="false">
	<META NAME="LinksUpToDate" CONTENT="false">
	<META NAME="ScaleCrop" CONTENT="false">
	<META NAME="ShareDoc" CONTENT="false">
	<STYLE TYPE="text/css">
	<!--
		@page { size: 8.5in 11in; margin-left: 0.98in; margin-right: 0.98in; margin-top: 0.49in; margin-bottom: 0.49in }
		P { margin-bottom: 0in; direction: ltr; line-height: 100%; text-align: justify; widows: 2; orphans: 2 }
		P.western { font-family: "Arial", serif; font-size: 12pt; so-language: fr-FR }
		P.cjk { font-family: "Times New Roman"; font-size: 12pt; so-language: fr-FR }
		P.ctl { font-family: "Arial"; font-size: 12pt }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-US" DIR="LTR">
<DIV TYPE=HEADER>
	<P LANG="fr-FR" ALIGN=LEFT><IMG SRC="i_8367fbb231a9a8c5_html_bcfbe53a.jpg" NAME="Image 10" ALIGN=BOTTOM WIDTH=61 HEIGHT=61 BORDER=0>
	                                                                    
	                                            
	<IMG SRC="i_8367fbb231a9a8c5_html_bd83ecd6.png" NAME="Image 16" ALIGN=BOTTOM WIDTH=184 HEIGHT=62 BORDER=0></P>
	<P LANG="fr-FR" ALIGN=LEFT STYLE="margin-bottom: 0.45in"><BR>
	</P>
</DIV>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0.14in; background: #dbe5f1; border: 1px solid #00000a; padding: 0.01in 0.06in; line-height: 115%">
<FONT FACE="Calibri, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial Narrow, serif"><FONT SIZE=3><SPAN LANG="fr-FR"><B>AVENANT
N° </B></SPAN></FONT></FONT><FONT FACE="Arial Narrow, serif"><FONT SIZE=3><SPAN LANG="fr-FR"><B><SPAN STYLE="background: #ffff00">{{ entity.id }}</SPAN></B></SPAN></FONT></FONT><FONT FACE="Arial Narrow, serif"><FONT SIZE=3><SPAN LANG="fr-FR"><B>
AU CONTRAT SIGNE LE </B></SPAN></FONT></FONT><FONT FACE="Arial Narrow, serif"><FONT SIZE=3><SPAN LANG="fr-FR"><B><SPAN STYLE="background: #ffff00">{{ entity.dateContratInitial|date('d-m-Y')}}</SPAN></B></SPAN></FONT></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Calibri, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial Narrow, serif"><FONT SIZE=3><SPAN LANG="fr-FR"><B>ENTRE</B></SPAN></FONT></FONT></FONT></FONT></P>
<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.08in; margin-bottom: 0.19in; line-height: 115%">
<BR><BR>
</P>
<P LANG="fr-FR" CLASS="western"><FONT FACE="Arial Narrow, serif"><B>POLYTECH
MONTPELLIER, </B></FONT>
</P>
<P LANG="fr-FR" CLASS="western"><FONT FACE="Arial Narrow, serif">Ecole
polytechnique universitaire de l’</FONT><FONT FACE="Arial Narrow, serif"><B>UNIVERSITE&nbsp;
DE MONTPELLIER </B></FONT><FONT FACE="Arial Narrow, serif">-
Etablissement Public à caractère Scientifique, Culturel et
Professionnel, dont le siège est situé 163 rue Auguste Broussonnet
&nbsp;34090 MONTPELLIER, n° SIRET 130 020 548 00017, représentée
par son Président, Monsieur Philippe AUGÉ, ayant donné délégation
à Monsieur Serge PRAVOSSOUDOVITCH, Directeur de POLYTECH
MONTPELLIER, pour signer la présente convention,</FONT></P>
<P LANG="fr-FR" CLASS="western"><BR>
</P>
<P LANG="fr-FR" CLASS="western"><FONT FACE="Arial Narrow, serif">Ci-après
désignée «</FONT><FONT FACE="Arial Narrow, serif"><B>&nbsp;Polytech
Montpellier</B></FONT><FONT FACE="Arial Narrow, serif">&nbsp;»</FONT></P>
<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<P LANG="fr-FR" CLASS="western"><FONT FACE="Arial Narrow, serif"><B>D’UNE
PART</B></FONT></P>
<P LANG="fr-FR" CLASS="western"><BR>
</P>
<P LANG="fr-FR" CLASS="western"><FONT FACE="Arial Narrow, serif"><B>ET</B></FONT></P>
<P LANG="fr-FR" CLASS="western"><BR>
</P>
<P LANG="fr-FR" CLASS="western"><FONT FACE="Arial Narrow, serif"><B><SPAN STYLE="background: #ffff00">{{ owner.cocontractant }}</SPAN></B></FONT><FONT FACE="Arial Narrow, serif"><B><SPAN STYLE="background: #ffff00">,
</SPAN></B></FONT>
</P>
<P LANG="fr-FR" CLASS="western"><FONT FACE="Arial Narrow, serif"><B><SPAN STYLE="background: #ffff00">{{ owner.formeJuridiqueCocontractant }}</SPAN></B></FONT><FONT FACE="Arial Narrow, serif"><SPAN STYLE="background: #ffff00">
</SPAN></FONT><FONT FACE="Arial Narrow, serif">dont le siège
est&nbsp;</FONT><FONT FACE="Arial Narrow, serif"><B><SPAN STYLE="background: #ffff00">{{ owner.adresseSiege }}</SPAN></B></FONT><FONT FACE="Arial Narrow, serif">,
n° SIRET </FONT><FONT FACE="Arial Narrow, serif"><B><SPAN STYLE="background: #ffff00">{{ owner.numeroSiret }}</SPAN></B></FONT><FONT FACE="Arial Narrow, serif">
représentée par son </FONT><FONT FACE="Arial Narrow, serif"><B><SPAN STYLE="background: #ffff00">{{ owner.fonctionRepresentant }},</SPAN></B></FONT><FONT FACE="Arial Narrow, serif"><SPAN STYLE="background: #ffff00">
</SPAN></FONT><FONT FACE="Arial Narrow, serif"><B><SPAN STYLE="background: #ffff00">{{ owner.titreRepresentant }}</SPAN></B></FONT><FONT FACE="Arial Narrow, serif"><SPAN STYLE="background: #ffff00">
</SPAN></FONT><FONT FACE="Arial Narrow, serif"><B><SPAN STYLE="background: #ffff00">{{ owner.prenomRepresentant }}
{{ owner.nomRepresentant }}</SPAN></B></FONT><FONT FACE="Arial Narrow, serif">, </FONT>
</P>
<P LANG="fr-FR" CLASS="western"><BR>
</P>
<P LANG="fr-FR" CLASS="western"><FONT FACE="Arial Narrow, serif">Ci
–après désigné la&nbsp;«&nbsp;</FONT><FONT FACE="Arial Narrow, serif"><B><SPAN STYLE="background: #ffff00">{{ entity.typePartenaire }}</SPAN></B></FONT><FONT FACE="Arial Narrow, serif">&nbsp;»</FONT></P>
<P LANG="fr-FR" CLASS="western"><BR>
</P>
<P LANG="fr-FR" CLASS="western"><FONT FACE="Arial Narrow, serif"><B>D'AUTRE
PART</B></FONT></P>
<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<P LANG="fr-FR" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=2><FONT FACE="Arial Narrow, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Polytech
Montpellier </B></FONT></FONT><FONT FACE="Arial Narrow, serif"><FONT SIZE=2 STYLE="font-size: 11pt">et
</FONT></FONT><FONT FACE="Arial Narrow, serif"><FONT SIZE=3><B><SPAN STYLE="background: #ffff00">{{ entity.typePartenaire }}</SPAN></B></FONT></FONT><FONT FACE="Arial Narrow, serif"><FONT SIZE=3><B>
</B></FONT></FONT><FONT FACE="Arial Narrow, serif"><FONT SIZE=3>sont
ci-après dénommés individuellement la «&nbsp;</FONT></FONT><FONT FACE="Arial Narrow, serif"><FONT SIZE=3><B>PARTIE</B></FONT></FONT><FONT FACE="Arial Narrow, serif"><FONT SIZE=3>&nbsp;»
et collectivement les «&nbsp;</FONT></FONT><FONT FACE="Arial Narrow, serif"><FONT SIZE=3><B>PARTIES</B></FONT></FONT><FONT FACE="Arial Narrow, serif"><FONT SIZE=3>&nbsp;».</FONT></FONT></FONT></FONT></P>
<P LANG="fr-FR" ALIGN=JUSTIFY STYLE="margin-bottom: 0.08in; line-height: 100%">
<BR><BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-right: 0.02in; margin-bottom: 0.14in; background: #dbe5f1; border: 1px solid #00000a; padding: 0.01in 0.06in; line-height: 115%">
<FONT FACE="Calibri, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="fr-FR"><B>ATTENDU
QUE :</B></SPAN></FONT></FONT></FONT></FONT></P>
<P LANG="fr-FR" CLASS="western"><FONT FACE="Arial Narrow, serif">Les
PARTIES ont signé une convention de </FONT><FONT FACE="Arial Narrow, serif"><B><SPAN STYLE="background: #ffff00">{{ owner.type.nom }}</SPAN></B></FONT><FONT FACE="Arial Narrow, serif">,
concernant </FONT><FONT FACE="Arial Narrow, serif"><B><SPAN STYLE="background: #ffff00">{{ owner.objet }}</SPAN></B></FONT><FONT FACE="Arial Narrow, serif">
(ci-après désigné la «&nbsp;</FONT><FONT FACE="Arial Narrow, serif"><B>CONVENTION
INITIALE</B></FONT><FONT FACE="Arial Narrow, serif">&nbsp;») en
vigueur du </FONT><FONT FACE="Arial Narrow, serif"><B><SPAN STYLE="background: #ffff00">{{ entity.dateEffetCI|date('d-m-Y') }}</SPAN></B></FONT><FONT FACE="Arial Narrow, serif">
jusqu’au </FONT><FONT FACE="Arial Narrow, serif"><B><SPAN STYLE="background: #ffff00">{{ entity.dateFinCI|date('d-m-Y') }}</SPAN></B></FONT><FONT FACE="Arial Narrow, serif"><B>,</B></FONT><FONT FACE="Arial Narrow, serif">
prorogeable et modifiable par voie d’avenant.</FONT></P>
<P LANG="fr-FR" CLASS="western"><BR>
</P>
<P LANG="fr-FR" CLASS="western"><FONT FACE="Arial Narrow, serif">Afin
de </FONT><FONT FACE="Arial Narrow, serif"><B><SPAN STYLE="background: #ffff00">{{ entity.objet }}</SPAN></B></FONT><FONT FACE="Arial Narrow, serif">
la </FONT><FONT FACE="Arial Narrow, serif"><B>CONVENTION INITIALE</B></FONT><FONT FACE="Arial Narrow, serif">,
les PARTIES décident de signer le présent avenant, ci-après
désigné l’&nbsp;«&nbsp;Avenant&nbsp;».</FONT></P>
<P LANG="fr-FR" CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0.14in; background: #dbe5f1; border: 1px solid #00000a; padding: 0.01in 0.06in; line-height: 115%">
<FONT FACE="Calibri, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR"><B>IL
EST DONC CONVENU CE QUI SUIT&nbsp;:</B></SPAN></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 115%">
<FONT FACE="Calibri, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR"><B>OBJET</B></SPAN></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 115%">
<FONT FACE="Calibri, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR">L’Avenant
a pour objet de </SPAN></FONT><FONT FACE="Arial Narrow, serif"><FONT SIZE=3><SPAN LANG="fr-FR"><B><SPAN STYLE="background: #ffff00">{{ entity.objet }}</SPAN></B></SPAN></FONT></FONT><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR">
la </SPAN></FONT><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR"><B>CONVENTION
INITIALE </B></SPAN></FONT><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR">comme
indiqué ci-après.</SPAN></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 115%">
<FONT FACE="Calibri, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR"><B>MODIFICATION
D’ARTICLES</B></SPAN></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Calibri, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR">Compte-tenu
de la volonté des PARTIES de </SPAN></FONT><FONT FACE="Arial Narrow, serif"><FONT SIZE=3><SPAN LANG="fr-FR"><B><SPAN STYLE="background: #ffff00">{{ entity.motif }}</SPAN></B></SPAN></FONT></FONT><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR">,
l</SPAN></FONT><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR">e
paragraphe </SPAN></FONT><FONT FACE="Arial Narrow, serif"><FONT SIZE=3><SPAN LANG="fr-FR"><B><SPAN STYLE="background: #ffff00">{{ entity.numeroParagrapheModifie }}</SPAN></B></SPAN></FONT></FONT><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR">
de l’Article </SPAN></FONT><FONT FACE="Arial Narrow, serif"><FONT SIZE=3><SPAN LANG="fr-FR"><B><SPAN STYLE="background: #ffff00">{{ entity.numeroArticleModifie }}</SPAN></B></SPAN></FONT></FONT><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR">
«</SPAN></FONT><FONT FACE="Arial Narrow, serif"><FONT SIZE=3><SPAN LANG="fr-FR"><B>A</B></SPAN></FONT></FONT><FONT FACE="Arial Narrow, serif"><FONT SIZE=3><SPAN LANG="fr-FR"><B><SPAN STYLE="background: #ffff00">{{ entity.intituleArticleModifie }}</SPAN></B></SPAN></FONT></FONT><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR">»
de la </SPAN></FONT><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR"><B>CONVENTION
INITIALE</B></SPAN></FONT><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR">
est remplacé par le suivant&nbsp;:</SPAN></FONT></FONT></FONT></P>
<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.9in; margin-bottom: 0.14in; line-height: 115%">
<FONT FACE="Calibri, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4><SPAN LANG="fr-FR">«&nbsp;</SPAN></FONT><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR">&nbsp;</SPAN></FONT><FONT FACE="Arial Narrow, serif"><FONT SIZE=3><SPAN LANG="fr-FR"><B><SPAN STYLE="background: #ffff00">{{ entity.nouveauTexte }}</SPAN></B></SPAN></FONT></FONT><FONT SIZE=4><SPAN LANG="fr-FR">»</SPAN></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"> 
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 115%">
<FONT FACE="Calibri, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR"><B>PROROGATION</B></SPAN></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Calibri, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR">Les
PARTIES décident de proroger la </SPAN></FONT><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR"><B>CONVENTION
INITIALE</B></SPAN></FONT><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR">,
par conséquent son</SPAN></FONT><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR">
article </SPAN></FONT><FONT FACE="Arial Narrow, serif"><FONT SIZE=3><SPAN LANG="fr-FR"><B><SPAN STYLE="background: #ffff00">{{ entity.numeroArticleDuree }}</SPAN></B></SPAN></FONT></FONT><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR">
«</SPAN></FONT><FONT FACE="Arial Narrow, serif"><FONT SIZE=3><SPAN LANG="fr-FR"><B><SPAN STYLE="background: #ffff00">{{ entity.intituleArticleDuree }}</SPAN></B></SPAN></FONT></FONT><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR">»
est complété par le suivant&nbsp;:</SPAN></FONT></FONT></FONT></P>
<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.9in; margin-bottom: 0.14in; line-height: 115%">
<FONT FACE="Calibri, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4><SPAN LANG="fr-FR">«&nbsp;</SPAN></FONT><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR">&nbsp;</SPAN></FONT><FONT FACE="Arial Narrow, serif"><FONT SIZE=3><SPAN LANG="fr-FR"><B>La
présente convention est prorogée pour une durée supplémentaire de
</B></SPAN></FONT></FONT><FONT FACE="Arial Narrow, serif"><FONT SIZE=3><SPAN LANG="fr-FR"><B><SPAN STYLE="background: #ffff00">{{ entity.nbMoisProrogation }}</SPAN></B></SPAN></FONT></FONT><FONT FACE="Arial Narrow, serif"><FONT SIZE=3><SPAN LANG="fr-FR"><B>
mois, et restera en vigueur jusqu’au </B></SPAN></FONT></FONT><FONT FACE="Arial Narrow, serif"><FONT SIZE=3><SPAN LANG="fr-FR"><B><SPAN STYLE="background: #ffff00">{{ entity.dateExpiration|date('d-m-Y') }}</SPAN></B></SPAN></FONT></FONT><FONT FACE="Arial Narrow, serif"><FONT SIZE=3><SPAN LANG="fr-FR"><B>
</B></SPAN></FONT></FONT><FONT SIZE=4><SPAN LANG="fr-FR">»</SPAN></FONT></FONT></FONT></P>
<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 115%">
<FONT FACE="Calibri, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR"><B>INTANGIBILITE
DES CLAUSES NON MODIFIEES</B></SPAN></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 115%">
<FONT FACE="Calibri, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR">Toutes
les autres clauses non modifiées de la </SPAN></FONT><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR"><B>CONVENTION
INITIALE </B></SPAN></FONT><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR">par
le présent Avenant restent en vigueur et demeurent inchangées.</SPAN></FONT></FONT></FONT></P>
<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 115%">
<BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 115%">
<FONT FACE="Calibri, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR"><B>Fait
à Montpellier, </B></SPAN></FONT><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR">en
deux (2) exemplaires originaux de deux (2) pages, le </SPAN></FONT></FONT></FONT>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 115%">
<BR><BR>
</P>
<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 115%">
<BR><BR>
</P>
<TABLE WIDTH=674 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=322>
	<COL WIDTH=322>
	<TR VALIGN=TOP>
		<TD WIDTH=322 BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in"><FONT FACE="Calibri, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR"><SPAN STYLE="background: #ffff00">{{ entity.typePartenaire }}</SPAN></SPAN></FONT></FONT></FONT></P>
			<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in">
			<BR><BR>
			</P>
			<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in">
			<BR><BR>
			</P>
			<P CLASS="western" ALIGN=LEFT><FONT FACE="Calibri, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR"><SPAN STYLE="background: #ffff00">{{ owner.prenomRepresentant }}
			</SPAN></SPAN></FONT><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR">+
			</SPAN></FONT><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR"><SPAN STYLE="background: #ffff00">{{ owner.nomRepresentant }}</SPAN></SPAN></FONT></FONT></FONT></P>
			<P CLASS="western" ALIGN=LEFT><FONT FACE="Calibri, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR"><SPAN STYLE="background: #ffff00">{{ owner.fonctionRepresentant }}</SPAN></SPAN></FONT><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR">
			de </SPAN></FONT><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR"><SPAN STYLE="background: #ffff00">{{ owner.cocontractant }}</SPAN></SPAN></FONT></FONT></FONT></P>
		</TD>
		<TD WIDTH=322 BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in"><FONT FACE="Calibri, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial Narrow, serif">Polytech
			Montpellier</FONT></FONT></FONT></P>
			<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in">
			<BR><BR>
			</P>
			<P LANG="fr-FR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in">
			<BR><BR>
			</P>
			<P CLASS="western" ALIGN=LEFT><FONT FACE="Calibri, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR">Serge
			PRAVOSSOUDOVITCH</SPAN></FONT></FONT></FONT></P>
			<P CLASS="western" ALIGN=LEFT><FONT FACE="Calibri, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial Narrow, serif"><SPAN LANG="fr-FR">Directeur
			de Polytech Montpellier</SPAN></FONT></FONT></FONT></P>
		</TD>
	</TR>
</TABLE>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 115%">
<BR><BR>
</P>
<DIV TYPE=FOOTER>
	<P LANG="fr-FR" ALIGN=RIGHT STYLE="margin-top: 0.45in"><SDFIELD TYPE=PAGE SUBTYPE=RANDOM FORMAT=PAGE>2</SDFIELD><FONT FACE="Times New Roman, serif"><FONT SIZE=2>/<SDFIELD TYPE=DOCSTAT SUBTYPE=PAGE FORMAT=PAGE>2</SDFIELD></FONT></FONT></P>
	<P LANG="fr-FR" ALIGN=RIGHT><BR>
	</P>
</DIV>
</BODY>
</HTML>