<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
	<META NAME="AUTHOR" CONTENT="BDL">
	<META NAME="CREATED" CONTENT="20150904;103100000000000">
	<META NAME="CHANGEDBY" CONTENT="bruno de-lourenco">
	<META NAME="CHANGED" CONTENT="20151215;164100000000000">
	<META NAME="AppVersion" CONTENT="15.0000">
	<META NAME="Company" CONTENT="université montpellier II">
	<META NAME="DocSecurity" CONTENT="0">
	<META NAME="HyperlinksChanged" CONTENT="false">
	<META NAME="LinksUpToDate" CONTENT="false">
	<META NAME="ScaleCrop" CONTENT="false">
	<META NAME="ShareDoc" CONTENT="false">
	<STYLE TYPE="text/css">
	<!--
		@page { margin-left: 0.75in; margin-right: 0.77in; margin-top: 0.25in; margin-bottom: 0.5in }
		P { margin-bottom: 0in; direction: ltr; line-height: 150%; text-align: justify; widows: 2; orphans: 2 }
		P.western { font-size: 10pt }
		P.cjk { font-size: 10pt }
		P.ctl { font-size: 12pt }
		A:link { color: #0000ff; so-language: zxx }
	-->
	</STYLE>
</HEAD>
<BODY LANG="fr-FR" LINK="#0000ff" DIR="LTR">
<DIV TYPE=HEADER>
	<P ALIGN=LEFT STYLE="margin-bottom: 0.7in; line-height: 100%"><IMG SRC="i_82abb6e97cbbce0e_html_bcfbe53a.jpg" NAME="Image 10" ALIGN=BOTTOM WIDTH=61 HEIGHT=61 BORDER=0><FONT SIZE=3>		<IMG SRC="i_82abb6e97cbbce0e_html_bd83ecd6.png" NAME="Image 16" ALIGN=BOTTOM WIDTH=184 HEIGHT=62 BORDER=0></FONT></P>
</DIV>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT SIZE=3><FONT SIZE=4 STYLE="font-size: 14pt"><B>CONVENTION</B></FONT><FONT SIZE=4 STYLE="font-size: 15pt"><B>
DE MISE A DISPOSITION TEMPORAIRE DE LOCAUX</B></FONT></FONT></P>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><FONT SIZE=3><FONT SIZE=4>ENTRE&nbsp;:</FONT></FONT></P>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.08in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4><B>POLYTECH MONTPELLIER, école
polytechnique universitaire de l’UNIVERSITE DE MONTPELLIER,
</B></FONT><FONT SIZE=4>Etablissement Public à caractère
Scientifique, Culturel et Professionnel, dont le siège est situé
163 rue Auguste Broussonnet 34090 MONTPELLIER, n° SIRET 130 020 548
00017, représentée par son Président, Monsieur Philippe AUGÉ,
ayant donné délégation à Monsieur Serge PRAVOSSOUDOVITCH,
Directeur de POLYTECH MONTPELLIER, pour signer la présente
convention,</FONT></FONT></P>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><FONT SIZE=3><FONT SIZE=4>Ci-après
désignée «&nbsp;UM&nbsp;»</FONT></FONT></P>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><FONT SIZE=3><FONT SIZE=4>L’UM&nbsp;agissant
au nom et pour le compte de l’Ecole Polytechnique Universitaire de
Montpellier,</FONT></FONT></P>
<P STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>Ci-après désignée «&nbsp;Polytech
Montpellier&nbsp;»</FONT></FONT></P>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=RIGHT STYLE="line-height: 100%"><FONT SIZE=3><FONT SIZE=4>D’une
part</FONT></FONT></P>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><FONT SIZE=3><FONT SIZE=4>ET
</FONT></FONT>
</P>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT SIZE=3><FONT SIZE=4><B><SPAN STYLE="background: #ffff00">{{entity.FicheCocontractant}}</SPAN></B></FONT><FONT SIZE=4><B>,
</B></FONT></FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.08in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4><SPAN STYLE="background: #ffff00">{{entity.formeJuridiqueCocontractant}}</SPAN></FONT><FONT SIZE=4>
dont le siège est&nbsp;</FONT><FONT SIZE=4><SPAN STYLE="background: #ffff00">{{entity.adresseSiege}}</SPAN></FONT><FONT SIZE=4>,
n° SIRET </FONT><FONT SIZE=4><SPAN STYLE="background: #ffff00">{{entity.numeroSiret}}</SPAN></FONT><FONT SIZE=4>
représentée par son </FONT><FONT SIZE=4><SPAN STYLE="background: #ffff00">{{entity.fonctionRepresentant}},
{{entity.titreRepresentant}} {{entity.nomRepresentant}} {{entity.prenomRepresentant}} </SPAN></FONT></FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><A NAME="_GoBack"></A>
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>Ci –après désigné l’&nbsp;«&nbsp;Utilisateur&nbsp;»,</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=RIGHT STYLE="line-height: 100%"><FONT SIZE=3><FONT SIZE=4>D’autre
part</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT SIZE=3><FONT SIZE=4>Polytech
Montpellier et l’Utilisateur sont ci-après dénommées
individuellement«&nbsp;la Partie&nbsp;» et collectivement «&nbsp;les
Parties&nbsp;».</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT SIZE=3><FONT SIZE=4><B>Préambule</B></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT SIZE=3><FONT SIZE=4>Les
amphithéâtres, salles de cours, de travaux dirigés et de travaux
pratiques de Polytech Montpellier, lorsque les cours sont vaqués,
ont vocation à être occupés pour de l’enseignement, des
formations, des manifestations scientifiques, des manifestations de
prestige. Cette ouverture correspond à l’image et aux objectifs
pédagogiques de Polytech Montpellier.</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT SIZE=3><FONT SIZE=4>Dans
ce contexte, les locaux décrits à l’Article 2 du présent
document peuvent être mis à disposition à des personnes
extérieures au tarif de 300€ la journée. Considérant le
partenariat existant entre les Parties, Polytech Montpellier décide
de mettre ces locaux à la disposition de l’Utilisateur, sans
contrepartie financière et aux conditions détaillées ci-après. </FONT></FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT SIZE=3><FONT SIZE=4><B>Il
est convenu ce qui suit :</B></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4><B>Article 1 -	Objet</B></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>Polytech Montpellier consent, par la
présente convention, une autorisation d’occupation temporaire des
locaux (ci-après plus amplement désignés) à l’Utilisateur, qui
accepte.</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.9in; text-indent: -0.9in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.9in; text-indent: -0.9in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4><B>Article 2 -	Désignation</B></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.9in; text-indent: -0.9in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>Des locaux, plus précisément </FONT><FONT SIZE=4><SPAN STYLE="background: #ffff00">{{entity.titreRepresentant}}
{{entity.titreRepresentant}}</SPAN></FONT><FONT SIZE=4>, sis au bâtiment </FONT><FONT SIZE=4><SPAN STYLE="background: #ffff00">EB5</SPAN></FONT><FONT SIZE=4>
– Polytech Montpellier - du campus Triolet, Place Eugène
Bataillon, 34095 MONTPELLIER CEDEX 5 (ci-après désignés par les
«&nbsp;Locaux&nbsp;»).</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.9in; text-indent: -0.9in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.9in; text-indent: -0.9in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4><B>Article 3 -	Modalité de l’occupation</B></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.9in; text-indent: -0.9in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.9in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4><B>3.1</B></FONT><FONT SIZE=4> Ces Locaux
hébergeront l’Utilisateur les dates du </FONT><FONT SIZE=4><SPAN STYLE="background: #ffff00">EB6</SPAN></FONT><FONT SIZE=4>…
aux plages horaires indiquées par le personnel compétent de
Polytech Montpellier, comprises entre 18h30 et 23h00, pour l’accueil
de </FONT><FONT SIZE=4><SPAN STYLE="background: #ffff00">{{entity.capaciteMaxSalles}}</SPAN></FONT><FONT SIZE=4>
personnes maximum et sous réserve de disponibilité des Locaux au
moment de la demande de réservation.</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.9in; text-indent: -0.9in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>	</FONT></FONT></P>
<OL START=3>
	<OL START=2>
		<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT SIZE=3><FONT SIZE=4>Polytech
		Montpellier autorise l’Utilisateur à&nbsp;:</FONT></FONT></P>
	</OL>
</OL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 1.8in; text-indent: -0.9in; line-height: 100%">
<BR>
</P>
<UL>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT SIZE=3><FONT SIZE=4>Exercer
	dans les Locaux l’activité suivante&nbsp;: «</FONT><FONT SIZE=4><SPAN STYLE="background: #ffff00">{{entity.activite}}</SPAN></FONT><FONT SIZE=4>&nbsp;»,
	ci-après désignée l’«&nbsp;Activité&nbsp;», avec la présence
	des invités de l’Utilisateur.</FONT></FONT></P>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT SIZE=3><FONT SIZE=4>Installer
	dans les Locaux, et sous sa responsabilité les matériels et moyens
	nécessaires à la réalisation de l’Activité, à l’exception
	de toute installation de mobilier ou de toute installation qui
	modifierait les caractéristiques originales des Locaux, dont elle
	prend en charge l’assurance et dont elle assure la désinstallation
	et remise en état. </FONT></FONT>
	</P>
</UL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.9in; text-indent: -0.9in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.9in; text-indent: -0.9in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>	</FONT><FONT SIZE=4><B>3.3</B></FONT><FONT SIZE=4>
En cas de dégradation des Locaux ou des matériaux appartenant à
Polytech Montpellier, l’Utilisateur s’engage à faire diligence
pour la réparation, dont il assurera l’intégralité des coûts y
afférant. L’Utilisateur s’engage à contracter une assurance
couvrant les éventuels dommages occasionnés et à fournir une
attestation à la demande de Polytech Montpellier.</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.9in; text-indent: -0.9in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.9in; text-indent: -0.9in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>	</FONT><FONT SIZE=4><B>3.4</B></FONT><FONT SIZE=4>
A la demande de l’une ou de l’autre Partie, un état des lieux
d’entrée des Locaux sera établi contradictoirement par les
Parties avant la mise en place des Activités, et un état des lieux
de sortie sera établi lors de la restitution des Locaux. A défaut
d’établissement d’un état des lieux dans le mois qui suivra la
signature de la présente convention, les Locaux seront considérés
comme étant en parfait état d’entretien. A l’expiration de la
présente convention pour quelque cause que ce soit, l’Utilisateur
devra laisser les Locaux en parfait état d’entretien et de
réparation.</FONT><FONT SIZE=4><B> </B></FONT></FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.9in; text-indent: -0.9in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.9in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4><B>3.5</B></FONT><FONT SIZE=4>
L’Utilisateur s’engage notamment:</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.9in; text-indent: -0.9in; line-height: 100%">
<BR>
</P>
<UL>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT SIZE=3><FONT SIZE=4>A
	faire respecter l’interdiction réglementaire de fumer dans les
	Locaux,</FONT></FONT></P>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT SIZE=3><FONT SIZE=4>A
	ne pas dépasser la capacité d’accueil autorisée et à respecter
	les créneaux horaires autorisés, mentionnés à l’article 3.1 de
	la présente convention,</FONT></FONT></P>
</UL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 1.23in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4><B>3.6</B></FONT><FONT SIZE=4> Polytech
Montpellier et les Locaux ont une vocation principale d’enseignement.
Par conséquent, aucune prestation de restauration ne pourra être
assurée dans les Locaux. De plus, toute autre utilisation des Locaux
en dehors de celle mentionnée  à l’article 3.2 est interdite. </FONT></FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4><B>3.6</B></FONT><FONT SIZE=4> Seront à la
charge de l’Utilisateur toute prestation de ménage supplémentaire
liée à l’Activité ainsi que toute prestation de sécurité
(présence d’un agent SSIAP) imposé par la Direction de la
Logistique de l’UM.</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4><B>3.8</B></FONT><FONT SIZE=4>
L’Utilisateur s’engage à faire figurer le logo de Polytech
Montpellier sur toutes les affiches, plaquettes, et supports de
communication de l’Activité.</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.9in; text-indent: -0.9in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.88in; text-indent: -0.88in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4><B>Article 4 –	Redevance</B></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.88in; text-indent: -0.88in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>	</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.88in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>La mise à disposition par Polytech
Montpellier des Locaux pour l’accueil de l’Utilisateur dans le
cadre de la réalisation de l’Activité se fera à titre gracieux.</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.88in; text-indent: -0.88in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.88in; text-indent: -0.88in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4><B>Article 5 –	Durée</B></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>	La présente convention prend effet le
</FONT><FONT SIZE=4><SPAN STYLE="background: #ffff00">{{entity.dateEffet}}</SPAN></FONT><FONT SIZE=4>
et sera en vigueur jusqu’au </FONT><FONT SIZE=4><SPAN STYLE="background: #ffff00">{{entity.dateEcheance}}</SPAN></FONT><FONT SIZE=4>.
</FONT></FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4><B>Article 6 –	Règlements applicables</B></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4><B>6.1</B></FONT><FONT SIZE=4>
L’Utilisateur en utilisant les Locaux mis à sa disposition
s’engage au respect les réglementations intérieures en vigueur
sous le contrôle des autorités responsables de Polytech Montpellier
et en particulier de la Direction de la Logistique </FONT>et <FONT SIZE=4>du
Service Commun d’Hygiène et de Sécurité de l’UM. Ces
règlementations concernent les établissements recevant du public
(ERP), et sont définies à l'article R123-2 du Code de la
construction et de l’habitation. En conséquence, une demande
d’autorisation d’organisation d’évènement à l’intérieur
du campus sera obligatoirement transmise par Polytech Montpellier. En
fonction de la nature de l’Activité, du nombre de participants et
du planning, il peut être demandé la présence d’un personnel
SSIAP (Service de Sécurité Incendie et d’Assistance à
Personnes),&nbsp;à la charge de l’Utilisateur.</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>Enfin, l’accès au Campus de l’UM est
soumis au plan Vigipirate et répond donc aux contraintes en cours à
la date de l’Activité.</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>	</FONT><FONT SIZE=4><B>6.2</B></FONT><FONT SIZE=4>
L’Utilisateur est tenu d’occuper lui-même et d’utiliser en son
nom et sans discontinuité (hors périodes de fermeture) les biens
mis à sa disposition. Toute sous-location et toute cession de la
présente convention sont interdites.</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>	</FONT><FONT SIZE=4><B>6.3</B></FONT><FONT SIZE=4>
En raison du caractère de simple tolérance et de précarité de la
présente autorisation d'occupation des Locaux, l’Utilisateur ne
pourra en aucun cas se prévaloir d'un droit au maintien dans les
Locaux, ni de la qualité de preneur d'un bail, qu'il soit civil ou
commercial, la présente mise à disposition étant consentie à
titre exceptionnel, pour lui permettre d'exercer l’Activité.</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4><B>Article 7 –	Assurances</B></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>L’Utilisateur assumera la responsabilité
concernant les actes de son personnel et des personnes à qui il
permet l’accès aux Locaux. </FONT></FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>L’Utilisateur devra s'assurer contre les
risques encourus dans les Locaux mis à disposition ainsi que contre
les dommages causés aux tiers, notamment en cas de dommages causés
à tout ou partie du bâtiment d'accueil et des matériels
appartenant à Polytech Montpellier. </FONT></FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>L’Utilisateur remettra avant
l’utilisation des Locaux, sous demande, une attestation d’assurance
à Polytech Montpellier et devra justifier de l'acquittement de ses
cotisations.</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>	L’Activité prévoyant la présence de
personnes extérieures à l’Utilisateur, soit toute personne autre
que les employés de l’Utilisateur, ce dernier s’engage à
fournir, à la demande de Polytech Montpellier, la liste des
personnes concernées.</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4><B>Article 8 –	Résiliation</B></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4><B>8.1</B></FONT><FONT SIZE=4> La présente
convention pourra être résiliée par Polytech Montpellier dans le
cas où&nbsp;:</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<BR>
</P>
<UL>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT SIZE=3><FONT SIZE=4>L’Utilisateur
	emploierait les Locaux pour une activité autre que l’Activité,</FONT></FONT></P>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT SIZE=3><FONT SIZE=4>L’Utilisateur
	ne respecterait plus ses obligations contractuelles telles que
	prévues dans la présente convention. </FONT></FONT>
	</P>
</UL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>Polytech Montpellier pourra, pour des
raisons de nécessité absolue qui lui seraient propres, résilier la
présente convention sans motif moyennant le respect d’un préavis
de dix (10) jours communiqué par lettre recommandée avec accusé de
réception. </FONT></FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4><B>8.2</B></FONT><FONT SIZE=4>
L’Utilisateur pourra résilier la présente convention pour cas de
force majeure, dûment constaté et signifié à Polytech Montpellier
par lettre recommandée avec accusé de réception.</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4><B>Article 9 –	Juridiction</B></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>Les Parties pourront, à défaut de
solution amiable, soumettre tous les différends relatifs à
l’interprétation, l’exécution ou la résiliation de la présente
convention aux tribunaux compétents.</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4><B>Article 10 –	Dispositions générales</B></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>	</FONT><FONT SIZE=4><B>10.1</B></FONT><FONT SIZE=4>
</FONT><FONT SIZE=4><B>Convention dans son intégralité&nbsp;:</B></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>La présente convention (y compris son
préambule et ses annexes éventuelles qui en sont indissociables)
représente l'intégralité de la convention existante entre les
Parties. En cas de contradiction entre le texte de la convention et
d'une quelconque des annexes, la convention prévaudra.</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>Toute modification de la convention ne peut
résulter que d'un accord entre les Parties et constaté dans un
avenant écrit signé par les Parties.</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>	</FONT><FONT SIZE=4><B>10.2 Divisibilité&nbsp;:</B></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>Si l'une quelconque des dispositions de la
présente convention est privée d’effet ou annulée en tout ou
partie par une décision ou un évènement indépendant de la volonté
des Parties, la validité des dispositions restantes de la convention
n'en sera pas affectée. Dans ce cas, les Parties devront s’efforcer
de remplacer cette disposition annulée par une disposition valable
correspondant à l'esprit et à l'objet de la convention.</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>	</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; line-height: 100%">
<FONT SIZE=3><FONT SIZE=4>	Fait en deux exemplaires originaux à
Montpellier, le</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><BR>
</P>
<TABLE WIDTH=675 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=327>
	<COL WIDTH=319>
	<TR VALIGN=TOP>
		<TD WIDTH=327 STYLE="border: none; padding: 0in">
			<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=3><FONT SIZE=4>Pour
			Polytech Montpellier</FONT></FONT></P>
			<P CLASS="western" ALIGN=JUSTIFY><BR>
			</P>
		</TD>
		<TD WIDTH=319 STYLE="border: none; padding: 0in">
			<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=3><FONT SIZE=4>Pour
			l’Utilisateur </FONT></FONT>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=327 STYLE="border: none; padding: 0in">
			<P CLASS="western" ALIGN=JUSTIFY><BR>
			</P>
			<P CLASS="western" ALIGN=JUSTIFY><BR>
			</P>
			<P CLASS="western" ALIGN=JUSTIFY><BR>
			</P>
			<P CLASS="western" ALIGN=JUSTIFY><BR>
			</P>
			<P CLASS="western" ALIGN=JUSTIFY><BR>
			</P>
			<P CLASS="western" ALIGN=JUSTIFY><BR>
			</P>
			<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=3><FONT SIZE=4>Serge
			PRAVOSSOUDOVITCH</FONT></FONT></P>
		</TD>
		<TD WIDTH=319 STYLE="border: none; padding: 0in">
			<P CLASS="western" ALIGN=JUSTIFY><BR>
			</P>
			<P CLASS="western" ALIGN=JUSTIFY><BR>
			</P>
			<P CLASS="western" ALIGN=JUSTIFY><BR>
			</P>
			<P CLASS="western" ALIGN=JUSTIFY><BR>
			</P>
			<P CLASS="western" ALIGN=JUSTIFY><BR>
			</P>
			<P CLASS="western" ALIGN=JUSTIFY><BR>
			</P>
			<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=3><FONT SIZE=4><SPAN STYLE="background: #ffff00">{{entity.prenomRepresentant}}
			{{entity.nomRepresentant}}</SPAN></FONT></FONT></P>
		</TD>
	</TR>
</TABLE>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
</BODY>
</HTML>