<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE>AVENANT N°2</TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
	<META NAME="AUTHOR" CONTENT="BDL">
	<META NAME="CREATED" CONTENT="20151117;104300000000000">
	<META NAME="CHANGEDBY" CONTENT="babacar sobel thiaw">
	<META NAME="CHANGED" CONTENT="20151217;160700000000000">
	<META NAME="AppVersion" CONTENT="15.0000">
	<META NAME="Company" CONTENT="um2">
	<META NAME="DocSecurity" CONTENT="0">
	<META NAME="HyperlinksChanged" CONTENT="false">
	<META NAME="LinksUpToDate" CONTENT="false">
	<META NAME="ScaleCrop" CONTENT="false">
	<META NAME="ShareDoc" CONTENT="false">
	<STYLE TYPE="text/css">
	<!--
		@page { margin-left: 0.98in; margin-right: 0.98in; margin-top: 0.49in; margin-bottom: 0.49in }
		P { margin-bottom: 0in; direction: ltr; font-size: 12pt; font-weight: bold; widows: 2; orphans: 2 }
		H1 { margin-top: 0in; margin-bottom: 0in; direction: ltr; widows: 2; orphans: 2 }
		H1.western { font-family: "Times New Roman", serif; font-size: 12pt }
		H1.cjk { font-size: 12pt }
		H1.ctl { font-size: 12pt }
		A:link { color: #0000ff; so-language: zxx }
	-->
	</STYLE>
</HEAD>
<BODY LANG="fr-FR" LINK="#0000ff" DIR="LTR">
<DIV TYPE=HEADER>
	<P STYLE="margin-bottom: 0.45in; font-weight: normal"><IMG SRC="i_77c5ea1768d37686_html_bcfbe53a.jpg" NAME="Image 10" ALIGN=BOTTOM WIDTH=61 HEIGHT=61 BORDER=0>		<IMG SRC="i_77c5ea1768d37686_html_bd83ecd6.png" NAME="Image 16" ALIGN=BOTTOM WIDTH=184 HEIGHT=62 BORDER=0></P>
</DIV>
<P ALIGN=JUSTIFY><BR>
</P>
<P ALIGN=CENTER><FONT SIZE=4>CONVENTION DE MISE A DISPOSITION </FONT>
</P>
<P ALIGN=CENTER><FONT SIZE=4>TEMPORAIRE DE LOCAUX</FONT></P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
</P>
<P STYLE="font-weight: normal"><BR>
</P>
<P STYLE="font-weight: normal"><B>ENTRE&nbsp;:</B></P>
<P STYLE="font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-top: 0.08in; font-weight: normal"><B>POLYTECH
MONTPELLIER, école polytechnique universitaire de l’UNIVERSITE DE
MONTPELLIER </B>
</P>
<P ALIGN=JUSTIFY STYLE="margin-top: 0.08in; font-weight: normal">Etablissement
Public à caractère Scientifique, Culturel et Professionnel, dont le
siège est situé 163 rue Auguste Broussonnet 34090 MONTPELLIER, n°
SIRET 130 020 548 00017, représentée par son Président, Monsieur
Philippe AUGÉ, ayant donné délégation à Monsieur Serge
PRAVOSSOUDOVITCH, Directeur de POLYTECH MONTPELLIER, pour signer la
présente convention,</P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal">Ci-après désignée
«&nbsp;UM&nbsp;»</P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal">L’UM&nbsp;agissant au
nom et pour le compte de l’Ecole Polytechnique Universitaire de
Montpellier,</P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal">Ci-après désignée
«&nbsp;Polytech Montpellier&nbsp;»</P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal"><B>D’une part</B></P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
</P>
<H1 CLASS="western" ALIGN=JUSTIFY>Et</H1>
<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal"><B><SPAN STYLE="background: #ffff00">{{ entity.cocontractant }},
</SPAN></B>
</P>
<P ALIGN=JUSTIFY STYLE="margin-top: 0.08in; font-weight: normal"><SPAN STYLE="background: #ffff00">{{ entity.formeJuridiqueCocontractant }}</SPAN>
dont le siège est&nbsp;<SPAN STYLE="background: #ffff00">{{ entity.adresseSiege }}</SPAN>,
n° SIRET <SPAN STYLE="background: #ffff00">{{ entity.numeroSiret }}</SPAN> représentée
par son <SPAN STYLE="background: #ffff00">{{ entity.fonctionRepresentant }}</SPAN>, <SPAN STYLE="background: #ffff00">{{ entity.titreRepresentant }}
{{ entity.prenomRepresentant }} {{ entity.nomRepresentant }}</SPAN> 
</P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal">Ci-après désignée
«&nbsp;Utilisateur&nbsp;»</P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal"> 
</P>
<H1 CLASS="western" ALIGN=JUSTIFY>D'autre part</H1>
<P ALIGN=JUSTIFY><BR>
</P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal"><B>Etant préalablement
exposé ce qui suit :</B></P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal">Vu les articles D123-3 à
D123-8 du code de l’éducation, relatifs aux conditions dans
lesquelles les établissements publics à caractère scientifiques et
technologique et les établissements d’enseignement supérieur
peuvent fournir des moyens de fonctionnement à des entreprises ou à
des personnes physiques ; 
</P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal">Les amphithéâtres,
salles de cours, de travaux dirigés et de travaux pratiques de
Polytech Montpellier, lorsque les cours sont vaqués, ont vocation à
être occupés pour de l’enseignement, des formations, des
manifestations scientifiques, des manifestations de prestige. Cette
ouverture correspond à l’image et aux objectifs pédagogiques de
Polytech Montpellier, qui met à disposition de l’Utilisateur les
locaux décrits à l’Article 2.</P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal"><B>Il est convenu ce qui
suit :</B></P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<B>Article 1 -	Objet</B></P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal">Polytech Montpellier
consent, par la présente convention, une autorisation d’occupation
temporaire du domaine public (locaux ci-après plus amplement
désignés) à l’Utilisateur.</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.9in; text-indent: -0.9in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.9in; text-indent: -0.9in; font-weight: normal">
<B>Article 2 -	Désignation</B></P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.9in; text-indent: -0.9in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal">Des
    locaux, plus précisément <SPAN STYLE="background: #ffff00">{% for location in locations%} {{location.local.description}} {% endfor %}</SPAN>
code(s) <SPAN STYLE="background: #ffff00">{% for location in locations%} {{location.local.nom}} {% endfor %}</SPAN> sis au bâtiment
<SPAN STYLE="background: #ffff00">{% for location in locations%} {{location.local.batiment}} {% endfor %}</SPAN> – Polytech Montpellier
- du campus Triolet, Place Eugène Bataillon, 34095 MONTPELLIER CEDEX
5 (ci-après désignés par les «&nbsp;Locaux&nbsp;»).</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.9in; text-indent: -0.9in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.9in; text-indent: -0.9in; font-weight: normal">
<B>Article 3 -	Modalité de l’occupation</B></P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.9in; text-indent: -0.9in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.9in; font-weight: normal"><B>3.1</B>
    Ces Locaux hébergeront l’Utilisateur le <SPAN STYLE="background: #ffff00">{% for location in locations %} {{location.dateDebut | date('d-m-Y')}} au {{location.dateEcheance | date('d-m-Y')}}, {% endfor %}</SPAN>
pour une durée totale de <SPAN STYLE="background: #ffff00">{% for location in locations %} {{entity.dureeTotale}} {% endfor %}</SPAN>
demi-journées.</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.9in; text-indent: -0.9in; font-weight: normal">
	</P>
<OL START=3>
	<OL START=2>
		<LI><P ALIGN=JUSTIFY STYLE="font-weight: normal"> Polytech
		Montpellier autorise l’Utilisateur à&nbsp;:</P>
	</OL>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 1.8in; text-indent: -0.9in; font-weight: normal">
<BR>
</P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="font-weight: normal">- Exercer dans les
	Locaux l’activité suivante&nbsp;: 
	</P>
</UL>
<P ALIGN=JUSTIFY STYLE="margin-left: 1.23in; font-weight: normal">«&nbsp;<SPAN STYLE="background: #ffff00">{{ entity.activite }}</SPAN>&nbsp;»,
ci-après désignée l’&nbsp;«&nbsp;Activité&nbsp;».</P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="font-weight: normal">- Installer dans
	les Locaux, et sous sa responsabilité, les matériels et moyens
	nécessaires à la réalisation de l’Activité, dont elle garde la
	propriété et prend en charge l’assurance, à l’exception de
	toute installation de mobilier ou de toute action qui modifierait
	les caractéristiques originales des Locaux.</P>
</UL>
<P ALIGN=JUSTIFY STYLE="margin-left: 1.8in; text-indent: -0.9in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal">Toute
installation non-mentionnée à l’article précédent, ainsi que
toute utilisation des Locaux dans un but autre que pour la mise en
œuvre de l’Activité sont expressément interdites. 
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal"><BR>
</P>
<OL START=3>
	<OL START=2>
		<LI><P ALIGN=JUSTIFY STYLE="font-weight: normal">L’Utilisateur
		s’engage à contracter une assurance couvrant les éventuels
		dommages et à en fournir une attestation à la demande de Polytech
		Montpellier. En cas de dégradation des Locaux ou des matériels
		appartenant à Polytech Montpellier, dans le cadre de l’Activité,
		l’Utilisateur s’engage à faire diligence pour effectuer
		réparation ou remplacement et en assurera l’intégralité des
		coûts y afférant. 
		</P>
	</OL>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 1.16in; font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 1.16in; font-weight: normal">Le
cas échéant, l’Utilisateur s’engage à prévenir Polytech
Montpellier dans un délai de 24 heures à partir de la constatation
des dégâts.</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.9in; text-indent: -0.9in; font-weight: normal">
<BR>
</P>
<OL START=3>
	<OL START=2>
		<LI><P ALIGN=JUSTIFY STYLE="font-weight: normal">À l’initiative
		de l’une ou de l’autre des Parties, un état des lieux sera
		établi contradictoirement entre les Parties dans les trente (30)
		jours qui suivent la signature de la présente convention. 
		</P>
	</OL>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 1.16in; font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 1.16in; font-weight: normal">Au
cas où, pour une raison quelconque, cet état des lieux ferait
défaut, la Société sera réputée avoir reçu les Locaux en
parfait état.</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 1.16in; font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 1.16in; font-weight: normal">A
l’expiration de la présente convention pour quelque cause que ce
soit, l’Utilisateur devra laisser les Locaux en parfait état
d’entretien et de réparation. 
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.9in; text-indent: -0.9in"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.9in; font-weight: normal"><B>3.5</B>
L’Utilisateur s’engage notamment :</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.9in; font-weight: normal"><BR>
</P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="font-weight: normal">à faire respecter
	l’interdiction réglementaire de fumer dans les Locaux,</P>
	<LI><P ALIGN=JUSTIFY STYLE="font-weight: normal">à ne pas dépasser
	la capacité d’accueil autorisée, indiquée par Polytech ou
	mentionnée en annexe</P>
	<LI><P ALIGN=JUSTIFY STYLE="font-weight: normal">à respecter les
	créneaux horaires autorisés.</P>
</UL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal"><B>3.6</B>
Polytech Montpellier a une vocation principale d’enseignement et
n’assure pas les prestations de restauration. Par conséquent, tout
service de restauration sera à la charge de l’Utilisateur qui
devra contracter un service de restauration extérieur qui comprenne
la remise en état et le nettoyage des Locaux dès la fin de
l’Activité.</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal"><B>3.7
</B>Seront à la charge directe de l’Utilisateur toute prestation
de ménage supplémentaire liée à l’Activité ainsi que toute
prestation de sécurité (présence d’un agent SSIAP)
éventuellement imposée par la Direction de la Logistique de
l’Université.</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal"><B>3.8
</B>L’Utilisateur s’engage à faire figurer le logo de Polytech
Montpellier sur toutes les affiches, plaquettes, et supports de
communication concernant l’Activité.</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.9in; text-indent: -0.9in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.88in; text-indent: -0.88in; font-weight: normal">
<B>Article 4 –	Redevance</B></P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.88in; text-indent: -0.88in; font-weight: normal">
	</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal"><A NAME="_GoBack"></A>
En contrepartie de la mise à disposition des Locaux et des
prestations assurées par Polytech Montpellier, l’Utilisateur
versera à cette dernière une redevance de <SPAN STYLE="background: #ffff00">{{ entity.fluxFinancier }}</SPAN>
€ HT. Ces frais concernent entre autres la mise à disposition de
l’Utilisateur des matériels audio/vidéo, ainsi que tout personnel
de Polytech Montpellier impliqué dans l’accueil de l’Activité
dans les Locaux. Ce tarif appliqué a fait l'objet d'un vote en
conseil d'administration de l'UM en date du 23 février 2015 et est
susceptible d'être révisé. Dans ce cas, l’Utilisateur sera
informé par Polytech Montpellier de ce changement. 
</P>
<P STYLE="margin-left: 0.89in; font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal">Les
factures seront adressées en 3 exemplaires à la Société.</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal">Ce
versement sera effectué intégralement à l’issue de l’Activité,
par virement bancaire, sur présentation de facture, au nom du M.
l’Agent Comptable de l'Université de Montpellier, compte ouvert à
la trésorerie générale de l’Hérault.</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal">Code
banque : 10071</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal">N°
compte : 00001004507</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal">Code
guichet : 34000</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal">Clé
: 62</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal">IBAN
: FR76 1007 1340 0000 0010 0450 762 / BIC : TRPUFRP1</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal">Le
taux de TVA applicable sera celui en vigueur à la date de
facturation.</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.88in; text-indent: -0.88in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.88in; text-indent: -0.88in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<B>Article 5 –	Durée</B></P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
	La présente convention prendra effet le <SPAN STYLE="background: #ffff00">{{entity.dateEffet|date('d-m-Y')}}</SPAN>
et restera en vigueur jusqu’au <SPAN STYLE="background: #ffff00">{{ entity.dateEcheance|date('d-m-Y')}}</SPAN>.
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<B>Article 6 –	Règlements applicables</B></P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal"><B>6.1</B>
L’Utilisateur, en utilisant les Locaux mis à sa disposition,
s’engage au respect des réglementations intérieures en vigueur
sous le contrôle des autorités responsables de Polytech Montpellier
et en particulier de la Direction de la Logistique (DL) et du Service
Commun d’Hygiène et de Sécurité. Ces règlementations concernent
les <B>établissements recevant du public</B> (<B>ERP</B>), et sont
définies à l'article R123-2 du Code de la construction et de
l’habitation. En conséquence, une demande d’autorisation
d’organisation d’évènement à l’intérieur du campus sera
obligatoirement transmise par Polytech Montpellier. En fonction de la
nature de l’Activité, du nombre de participants et du planning, il
peut être demandé la présence d’un personnel SSIAP (Service de
Sécurité Incendie et d’Assistance à Personnes),<B>&nbsp;à la
charge de l’Utilisateur</B><B>.</B></P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal">Enfin,
l’accès au Campus de l’UM est soumis au plan Vigipirate et
répond donc aux contraintes en cours à la date de l’Activité. 
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal">	<B>6.2</B>
L’Utilisateur est tenu d’occuper lui-même et d’utiliser en son
nom et sans discontinuité (hors périodes de fermeture) les Locaux
et les biens mis à sa disposition. Toute sous-location et toute
cession de la présente convention sont interdites. 
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal">	<B>6.3
</B>En raison du caractère de simple tolérance et de précarité de
la présente autorisation d'occupation des Locaux, l’Utilisateur ne
pourra en aucun cas se prévaloir d'un droit au maintien dans les
Locaux, ni de la qualité de preneur d'un bail, qu'il soit civil ou
commercial, la présente mise à disposition étant consentie à
titre exceptionnel, pour lui permettre d'exercer l’Activité. 
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<B>Article 7 –	Responsabilité et Assurance</B></P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal">L’Utilisateur
assumera la responsabilité civile concernant les actes de son
personnel.</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal">L’Utilisateur
devra s'assurer contre les risques encourus dans les Locaux mis à
disposition ainsi que contre les dommages causés aux tiers,
notamment en cas de dommages causés à tout ou partie du bâtiment
d'accueil et des matériels appartenant à l’UM. 
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal">L’Utilisateur
remettra avant l’utilisation des Locaux une attestation d’assurance
à Polytech Montpellier et devra justifier de l'acquittement de ses
cotisations.</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal">Lorsque
l’Activité prévoit la présence de personnes extérieures à
l’Utilisateur, soit toute personne autre que les employés de
l’Utilisateur, ce dernier s’engage à fournir, à la demande de
Polytech Montpellier, la liste des personnes concernées. 
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY><BR>
</P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal"><B>Article 8
–	Résiliation</B></P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal"><B>8.1</B>
La présente convention pourra être résiliée par Polytech
Montpellier dans le cas où&nbsp;:</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal"><BR>
</P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="font-weight: normal">L’Utilisateur
	emploierait les Locaux pour une activité autre que l’Activité,</P>
	<LI><P ALIGN=JUSTIFY STYLE="font-weight: normal">L’Utilisateur ne
	respecterait plus ses obligations contractuelles telles que prévues
	dans la présente convention. 
	</P>
</UL>
<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal">Polytech
Montpellier pourra, pour des raisons de nécessité absolue qui lui
seraient propres, résilier la présente convention sans motif
moyennant le respect d’un préavis de un (1) mois communiqué par
lettre avec accusé de réception. 
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal"><B>8.2</B>
L’Utilisateur pourra résilier la présente convention pour cas de
force majeure, dûment constaté et signifié à Polytech Montpellier
par lettre recommandée, un mois avant la date d’effet.</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<B>Article 9 –	Litiges</B></P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal">Les
Parties pourront, à défaut de solution amiable, soumettre tous les
différends relatifs à l’interprétation, l’exécution ou la
résiliation de la présente convention aux tribunaux compétents.</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<B>Article 10 –	Dispositions générales</B></P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
	<B>10.1</B> <B>Convention dans son intégralité&nbsp;:</B></P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal">La
présente convention (y compris son préambule et ses annexes
éventuelles qui en sont indissociables) représente l'intégralité
de la convention existante entre les Parties. 
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal">Toute
modification de la convention ne peut résulter que d'un accord entre
les Parties et constaté dans un avenant écrit signé par les deux
Parties.</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
	<B>10.2 Divisibilité&nbsp;:</B></P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; font-weight: normal">Si
l'une quelconque des dispositions de la présente convention est
privée d’effet ou annulée en tout ou partie par une décision ou
un évènement indépendant de la volonté des Parties, la validité
des dispositions restantes de la convention n'en sera pas affectée.
Dans ce cas, les Parties devront s’efforcer de remplacer cette
disposition annulée par une disposition valable correspondant à
l'esprit et à l'objet de la convention.</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
	</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
	Fait en deux exemplaires originaux à Montpellier, le 
</P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.89in; text-indent: -0.89in; font-weight: normal">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
</P>
<TABLE WIDTH=663 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=326>
	<COL WIDTH=308>
	<TR VALIGN=TOP>
		<TD WIDTH=326 STYLE="border: none; padding: 0in">
			<P ALIGN=JUSTIFY STYLE="font-weight: normal">Pour Polytech
			Montpellier</P>
			<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
			</P>
		</TD>
		<TD WIDTH=308 STYLE="border: none; padding: 0in">
			<P ALIGN=JUSTIFY STYLE="font-weight: normal">Pour l’Utilisateur 
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=326 STYLE="border: none; padding: 0in">
			<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
			</P>
			<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
			</P>
			<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
			</P>
			<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
			</P>
			<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
			</P>
			<P ALIGN=JUSTIFY STYLE="font-weight: normal">Serge
			PRAVOSSOUDOVITCH</P>
		</TD>
		<TD WIDTH=308 STYLE="border: none; padding: 0in">
			<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
			</P>
			<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
			</P>
			<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
			</P>
			<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
			</P>
			<P ALIGN=JUSTIFY STYLE="font-weight: normal"><BR>
			</P>
			<P ALIGN=JUSTIFY STYLE="font-weight: normal"><SPAN STYLE="background: #ffff00">{{ entity.prenomRepresentant }}
			{{ entity.nomRepresentant }} </SPAN>
			</P>
		</TD>
	</TR>
</TABLE>
<P ALIGN=CENTER><BR>
</P>
<P ALIGN=CENTER><BR>
</P>
<P ALIGN=CENTER><BR>
</P>
<P ALIGN=CENTER><BR>
</P>
<P ALIGN=CENTER><BR>
</P>
<P ALIGN=CENTER><BR>
</P>
<P ALIGN=CENTER><BR>
</P>
<P ALIGN=CENTER><BR>
</P>
<P ALIGN=CENTER><BR>
</P>
<P ALIGN=CENTER><BR>
</P>
<P ALIGN=CENTER><BR>
</P>
<P ALIGN=CENTER><BR>
</P>
<P ALIGN=CENTER><BR>
</P>
<P ALIGN=CENTER><BR>
</P>
<P ALIGN=CENTER><BR>
</P>
<P ALIGN=CENTER><BR>
</P>
<P><BR>
</P>
<P ALIGN=CENTER><BR>
</P>
<P ALIGN=CENTER><BR>
</P>
<P STYLE="font-weight: normal"><BR>
</P>
<DIV TYPE=FOOTER>
	<P STYLE="margin-right: 0.25in; margin-top: 0.45in; font-weight: normal">
	<SPAN ID="Frame2" DIR="LTR" STYLE="position: absolute; top: 0in; left: 0in; width: 0.02in; border: none; padding: 0in; background: #ffffff">
		<P STYLE="border: none; padding: 0in; font-weight: normal"><SDFIELD TYPE=PAGE SUBTYPE=RANDOM FORMAT=PAGE>9</SDFIELD></P>
	</SPAN><BR>
	</P>
</DIV>
</BODY>
</HTML>