<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE>ARTICLE 1 : OBJET DE LA CONVENTON</TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
	<META NAME="AUTHOR" CONTENT="BDL">
	<META NAME="CREATED" CONTENT="20151124;150700000000000">
	<META NAME="CHANGEDBY" CONTENT="bruno de-lourenco">
	<META NAME="CHANGED" CONTENT="20151215;131000000000000">
	<META NAME="AppVersion" CONTENT="15.0000">
	<META NAME="Company" CONTENT="utv">
	<META NAME="DocSecurity" CONTENT="0">
	<META NAME="HyperlinksChanged" CONTENT="false">
	<META NAME="LinksUpToDate" CONTENT="false">
	<META NAME="ScaleCrop" CONTENT="false">
	<META NAME="ShareDoc" CONTENT="false">
	<STYLE TYPE="text/css">
	<!--
		@page { margin-left: 0.79in; margin-right: 0.79in; margin-top: 1.38in; margin-bottom: 0.39in }
		@page:first { margin-top: 0.5in; margin-bottom: 0.39in }
		P { margin-bottom: 0in; direction: ltr; color: #000000; widows: 2; orphans: 2 }
		P.western { font-size: 12pt }
		P.cjk { font-size: 12pt }
		H6 { margin-top: 0in; margin-bottom: 0in; direction: ltr; color: #000000; text-align: center; widows: 2; orphans: 2 }
		H6.western { font-family: "Arial", serif; font-size: 14pt }
		H6.cjk { font-family: "Times New Roman"; font-size: 14pt }
		H6.ctl { font-size: 10pt }
		A:link { color: #0000ff; so-language: zxx }
	-->
	</STYLE>
</HEAD>
<BODY LANG="fr-FR" TEXT="#000000" LINK="#0000ff" DIR="LTR">
<DIV TYPE=HEADER>
	<P STYLE="margin-bottom: 0.84in"><IMG SRC="i_77e4460933f31434_html_bcfbe53a.jpg" NAME="Image 10" ALIGN=BOTTOM WIDTH=61 HEIGHT=61 BORDER=0><FONT SIZE=2 STYLE="font-size: 11pt">		<IMG SRC="i_77e4460933f31434_html_bd83ecd6.png" NAME="Image 16" ALIGN=BOTTOM WIDTH=184 HEIGHT=62 BORDER=0></FONT></P>
</DIV>
<P STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial, serif">			</FONT></FONT></P>
<H6 CLASS="western" STYLE="margin-top: 0.04in; border: 1px solid #00000a; padding: 0.01in 0.06in">
<FONT COLOR="#00000a">CONVENTION DE PROJET INDUSTRIEL DE FIN D’ETUDES
</FONT>
</H6>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
</P>
<DIV ID="TextSection" DIR="LTR">
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>Entre</B></FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial, serif"><FONT SIZE=2><B>L’UNIVERSITE
	DE MONTPELLIER </B></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial, serif"><FONT SIZE=2>Etablissement
	Public à caractère Scientifique, Culturel et Professionnel, dont
	le siège est situé 163 rue Auguste Broussonnet 34090 MONTPELLIER,
	n° SIRET 130 020 548 00017, représentée par son Président,
	Monsieur Philippe AUGÉ, ayant donné délégation à Monsieur Serge
	PRAVOSSOUDOVITCH, Directeur de POLYTECH MONTPELLIER, pour signer la
	présente convention </FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>au
	nom de POLYTECH MONTPELLIER. </FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=RIGHT><BR>
	</P>
	<P CLASS="western" ALIGN=RIGHT><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>D’une
	part, et ci-après désigné l’UM</B></FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial, serif"><FONT SIZE=2>l’UM
	agissant pour le compte de Polytech Montpellier, Ecole polytechnique
	universitaire de l’UM, assistée de </FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">{{ entity.responsableDepartement }}</SPAN></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2>,
	Responsable du département&nbsp; </FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">{{ entity.departementEtudiant }}</SPAN></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2>,
	ci-après désigné «&nbsp;Le responsable pédagogique&nbsp;»,</FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>
	ci-après désignée «&nbsp;l’Ecole&nbsp;»</B></FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>L’UM
	agissant pour le compte du </FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">{{ entity.cocontractant }}</SPAN></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>,
	</FONT></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">{{ entity.typeUnite }}</SPAN></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">
	</SPAN></FONT></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">{{ entity.numeroUnite }}</SPAN></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">
	</SPAN></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>dont
	l’UM est tutelle, dirigée par </FONT></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">{{ entity.titreRepresentant }}
	{{ entity.prenomRepresentant }} {{ entity.nomRepresentant }}</SPAN></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>,
	située </FONT></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">{{ entity.adresseSiege }}</SPAN></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>,
	</FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>ci-après
	désigné le «&nbsp;Partenaire PIFE&nbsp;»</B></FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>Et</B></FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">{{ entity.titreEtudiant }}
	{{ entity.prenomEtudiant }} {{ entity.nomEtudiant }}</SPAN></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>né
	le : </FONT></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">{{entity.dateNaissanceEtudiant|date('d-m-Y')}}</SPAN></FONT></FONT></FONT></P>
	<P CLASS="western"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>Adresse
	:</FONT></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2> </FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">{{ entity.adresseEtudiant }}</SPAN></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">
	</SPAN></FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>élève-ingénieur,
	régulièrement inscrit au diplôme d’Ingénieur de l’Ecole,
	spécialité&nbsp;: </FONT></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">{{ entity.departementEtudiant }}</SPAN></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P CLASS="western" ALIGN=RIGHT><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>d’autre
	part, et ci après désigné(e) «&nbsp;l’Elève-ingénieur&nbsp;»</B></FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>L’UM
	et l’Elève-ingénieur sont ci-après désignés individuellement
	la Partie et conjointement les Parties. </B></FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><U><B>TITRE
	1 : OBJECTIFS ET CADRE JURIDIQUE :</B></U></FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><U><B>Article
	1</B></U></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>&nbsp;:
	</B></FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>FORMATION
	ET ACTIVITES </B></FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>a)
	</B></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><U><B>Objectifs
	du projet industriel</B></U></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>&nbsp;:</B></FONT></FONT></FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT SIZE=2>Le
	PIFE est un projet pédagogique de l’Ecole, ayant pour objet
	essentiel de permettre aux élèves-ingénieurs de traiter un sujet
	en lien avec des problématiques issues du monde socio-économique.
	L’objectif principal est de permettre les élèves-ingénieurs
	d’appliquer sur des cas concrets les pratiques des enseignements
	dispensés par l’Ecole. </FONT></FONT></FONT></FONT>
	</P>
	<P ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT SIZE=2>Dans
	ce cadre pédagogique, et dans un esprit de collaboration à la
	formation de ces étudiants, le Partenaire PIFE propose le sujet
	PIFE à l’Ecole, qui le confie à l’Elève-ingénieur. Le
	Partenaire PIFE</FONT></FONT><FONT COLOR="#00000a"><FONT SIZE=2><B>&nbsp;</B></FONT></FONT><FONT COLOR="#00000a"><FONT SIZE=2>
	fournit à l’Elève-ingénieur les moyens nécessaires à la
	réalisation du PIFE.</FONT></FONT></FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT SIZE=2>Le
	PIFE s'inscrit dans le cadre de la formation, du projet personnel et
	professionnel de l'Elève-ingénieur. Il entre dans son cursus
	pédagogique, et par ce fait, l’Elève-ingénieur ou l’Ecole ne
	peuvent dans aucun cas être tenus d’une obligation de résultat
	vis-à-vis du Partenaire PIFE. </FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT SIZE=2><B>b)
	</B></FONT></FONT><FONT COLOR="#00000a"><FONT SIZE=2><U><B>Contenu
	du projet industriel&nbsp;:</B></U></FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>La
	présente convention a pour</FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>
	Objet</B></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>
	de fixer les modalités et conditions de la mise en œuvre du projet
	industriel de fin d’études dont l’intitulé est&nbsp;:</FONT></FONT></FONT>
	«&nbsp;<FONT FACE="Arial, serif"><FONT SIZE=2><B><SPAN STYLE="background: #ffff00">{{ entity.titreProjet}}</SPAN></B></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><B>&nbsp;</B></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2>»</FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>
	ici désigné comme «&nbsp;PIFE&nbsp;». L'objet du projet ne peut
	être modifié qu'en accord avec le responsable pédagogique au sein
	de l’Ecole</FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>.</B></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT SIZE=2>
	</FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P ALIGN=JUSTIFY STYLE="margin-top: 0.04in; text-transform: uppercase; page-break-after: avoid">
	<U><B><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>TITRE
	2 : ORGANISATION DU PROJET INDUSTRIEL</FONT></FONT></FONT></B></U></P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in; text-transform: uppercase">
	<BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><U><B>Article
	1</B></U></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>
	:</B></FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="text-transform: uppercase"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="text-transform: uppercase"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>Dates
	DU PROJET INDUSTRIEL :</B></FONT></FONT></FONT></SPAN></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>Le
	projet industriel aura lieu du </FONT></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">{{ entity.dateEffet|date('d-m-Y') }}</SPAN></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>
	au </FONT></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">{{ entity.dateEcheance|date('d-m-Y') }}</SPAN></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2>,
	durée de la présente convention, à l’exception de l’article 5
	qui restera en vigueur jusqu’à l’épuisement des droits et
	obligations y afférant. </FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><U><B>Article
	2</B></U></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>
	: </B></FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>ENCADREMENT
	DE L’ELEVE-INGENIEUR </B></FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.08in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>Noms
	et fonctions des responsables du PROJET INDUSTRIEL</B></FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>-Tuteur
	au sein de l'Ecole&nbsp;: </FONT></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">{{ entity.titreEncadrant }}
	{{ entity.prenomEncadrant }} {{ entity.nomEncadrant }}</SPAN></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>-
	Correspondant au sein du Partenaire PIFE</FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>&nbsp;</B></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>:
	</FONT></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">{{ entity.titreReferent }}
	{{ entity.prenomReferent }} {{ entity.nomReferent }}</SPAN></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial, serif"><FONT SIZE=2>Le
	programme du projet industriel sera établi conjointement entre
	l'Ecole et le </FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>Partenaire
	PIFE</FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>&nbsp;</B></FONT></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2>à
	partir du programme général de la formation dispensée et devra
	tenir compte de la spécialisation de l'Élève-ingénieur. </FONT></FONT></FONT>
	</P>
	<P ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial, serif"><FONT SIZE=2><U><B>Article
	3 : </B></U></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>LIEU
	DE REALISATION DU PIFE</B></FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>Le
	PIFE se déroule entièrement dans les locaux de l’Ecole. Dans le
	cadre des activités menées pour la réalisation du PIFE, il est
	prévu que ce dernier soit réalisé dans les locaux du </FONT></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">{{ entity.cocontractant }}</SPAN></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">,
	</SPAN></FONT></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">{{ entity.typeUnite }}</SPAN></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>
	dont l’UM est tutelle, dirigé par </FONT></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">{{ entity.titreRepresentant }}
	{{ entity.prenomRepresentant }} {{ entity.nomRepresentant }}</SPAN></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>,
	ces locaux étant situés </FONT></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">{{ entity.adresseSiege }}</SPAN></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>.
	Le cas échéant, l’Elève-ingénieur devra obtenir l’accord
	préalable écrit du Tuteur</FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>
	au sein de l’</FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>Ecole.
	  </FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>A
	défaut d’accord contraire entre l’Elève-ingénieur et le
	Partenaire PIFE, tous les frais de déplacement et d’assurance
	resteront à la charge de l’Elève ingénieur. </FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>L’Elève-ingénieur
	gardera son statut d’étudiant pendant toute la durée du PIFE. </FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><U><B>Article
	4</B></U></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>&nbsp;:</B></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>
	</FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>GRATIFICATION
	ET PROTECTION SOCIALE</B></FONT></FONT></FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.08in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>Le
	PIFE n’étant pas un Stage au sens de l’article L-612-8 du code
	de l’éducation, ni un emploi au sens des lois du travail,
	l'Elève-ingénieur ne peut prétendre à aucun salaire ni
	gratification de la part de du Partenaire PIFE ou de l’Ecole. </FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><U><B>Régime
	de protection sociale</B></U></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>
	:</FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.49in; margin-top: 0.04in">
	<BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>Pendant
	la durée de son projet industriel, l'Elève-ingénieur continue de
	bénéficier du même régime de la sécurité sociale que lors de
	son inscription en tant qu'élève-ingénieur.</FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><U><B>Accidents
	du travail : </B></U></FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>En
	cas d'accident au cours de son séjour au sein des locaux du
	Partenaire PIFE</FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>&nbsp;</B></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>
	ou durant le trajet du lieu du Partenaire PIFE</FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>&nbsp;</B></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>
	à son domicile, ou de maladie professionnelle, le Partenaire PIFE</FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>&nbsp;</B></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>
	informera immédiatement l'Ecole, qui parviendra une déclaration à
	la CPAM. </FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><U><B>Responsabilité
	civile</B></U></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>
	:</B></FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>L'Elève-ingénieur
	aura obligatoirement souscrit une responsabilité civile couvrant
	«&nbsp;études et stage&nbsp;» et fourni dès son inscription une
	attestation vérifiée par le service scolarité de l’Ecole.</FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.25in; margin-top: 0.04in">
	<BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><U><B>Article
	5</B></U></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>
	: </B></FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>OBLIGATIONS
	DE L'ETUDIANT </B></FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>S’il
	est amené à se rendre au sein des lieux du Partenaire PIFE</FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>,</B></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>
	l’Elève-ingénieur devra se conformer aux règles et usages du
	Partenaire PIFE</FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>&nbsp;</B></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>:
	les règles d’hygiène et de sécurité, le règlement intérieur.
	</FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>5.1
	Confidentialité </B></FONT></FONT></FONT></FONT>
	</P>
	<P ALIGN=JUSTIFY><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>Chaque
	Partie s'engage à ne pas publier ni divulguer de quelque façon que
	ce soit les informations scientifiques, techniques ou commerciales
	de l’autre Partie, dont elle pourrait avoir connaissance à
	l'occasion de la réalisation du PIFE. Ces informations sont
	ci-après désignées les «&nbsp;Informations Confidentielles&nbsp;».
	Cet engagement restera en vigueur pendant toute la durée du PIFE et
	les 10 ans qui suivent. </FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>Les
	Parties peuvent communiquer les Informations Confidentielles dont
	elles peuvent apporter la preuve :</FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>1</B></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>
	-  qu’elles étaient disponibles publiquement préalablement à
	leur communication ou postérieurement à celle-ci, mais en
	l’absence de toute faute qui leur soit imputable.</FONT></FONT></FONT></FONT></P>
	<P CLASS="western" STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>2</B></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>
	- qu’elles ont été reçues d’un tiers de manière licite ;</FONT></FONT></FONT></FONT></P>
	<P CLASS="western" STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>3</B></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>
	- qu’elles étaient déjà en leur possession avant la conclusion
	du Contrat ;</FONT></FONT></FONT></FONT></P>
	<P CLASS="western" STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>4</B></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>
	- qu’elles ont été développées de manière indépendante et de
	bonne foi par des membres de leur personnel n’ayant pas eu accès
	à ces Informations Confidentielles&nbsp;;</FONT></FONT></FONT></FONT></P>
	<P CLASS="western" STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>5</B></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>
	- qu’elles ont été divulguées en vertu d’une décision
	judiciaire&nbsp;;</FONT></FONT></FONT></FONT></P>
	<P CLASS="western" STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>6</B></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>
	- qu’elles ont été divulguées par la Partie dont elles
	émanent&nbsp;;</FONT></FONT></FONT></FONT></P>
	<P CLASS="western" STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>7</B></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>
	- qu’elles ont été utilisées ou divulguées avec l’autorisation
	écrite de la Partie dont elles émanent. </FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>Les
	Parties s’engagent également à faire respecter cette obligation
	à tous les membres de leur personnel ayant eu connaissance des
	Informations Confidentielles.</FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>Chaque
	Partie pourra utiliser les Informations Confidentielles appartenant
	à l’autre Partie qu’aux seules fins de la bonne exécution du
	PIFE et pour la stricte durée de ce dernier.</FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>Les
	dispositions du présent article ne sauraient toutefois faire
	obstacle&nbsp;:</FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>1</B></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>
	- ni à l'obligation qui incombe à chacune des personnes
	participant à l’exécution du PIFE de produire&nbsp;un&nbsp;rapport&nbsp;
	d'activité à l'organisme dont elle relève, cette communication ne
	constituant pas une divulgation au sens des lois sur la propriété
	industrielle&nbsp;;</FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>2</B></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>
	- ni à la soutenance PIFE, pour l’Elève-ingénieur et/ou le
	personnel des Parties dont l'activité est en relation avec l'objet
	de la présente convention.</FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>5.2
	Propriété Intellectuelle </B></FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>L’exécution
	du PIFE n’implique pas la mise en œuvre d’une activité
	inventive. En conséquence, aucun droit de propriété
	intellectuelle ne saurait résulter de son exécution. Le
	savoir-faire et les connaissances mis en œuvre par l’Ecole ou le
	Partenaire PIFE afin de réaliser le PIFE appartiennent à l’UM&nbsp;;
	en conséquence, toute éventuelle amélioration du savoir-faire
	obtenue lors de la réalisation du PIFE appartient à l’UM. S’il
	s’avère que l’exécution du PIFE donne naissance à des
	éléments susceptibles de protection par des droits de propriété
	intellectuelle, dont l’Elève-ingénieur serait l’inventeur,
	auteur et/ou créateur ou son ayant-cause, ce dernier s’engage à
	céder l’intégralité de ses droits résultants du PIFE au
	bénéfice de l’UM, conformément aux modalités et contrepartie
	définies au cas par cas et faisant l’objet de contrats
	spécifiques. </FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>Nonobstant
	le terme ou résiliation anticipée de la présente convention, le
	présent article restera en vigueur jusqu’à l’épuisement de
	tous les droits et obligations y afférant. </FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><U><B>TITRE
	3 : EVALUATION ET RESILIATION</B></U></FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><U><B>Article
	1</B></U></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>
	: </B></FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>EVALUATION</B></FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>Les
	modalités d’évaluation du projet industriel sont définies dans
	le cadre des modalités de contrôle des connaissances de l’Ecole.</FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>A
	la demande de l’Ecole, l’Elève-ingénieur pourra avoir à
	rédiger un rapport qui pourra faire l'objet d'une soutenance orale
	devant un jury pour évaluation. Cette soutenance serait publique
	sauf dérogation pour cause de confidentialité, sur demande motivée
	du responsable du Partenaire PIFE.</FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><U><B>Article
	2</B></U></FONT></FONT></FONT><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>
	: </B></FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>RESILIATION</B></FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>L’Elève-ingénieur
	ne peut, sur sa seule initiative, interrompre son PIFE sous peine
	d’en perdre le bénéfice. </FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>Le
	PIFE peut être suspendu ou interrompu par l’Ecole, en cas de
	manquement de l’Elève-ingénieur aux obligations disposées pas
	la présente convention. </FONT></FONT></FONT></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><U><B>Article
	3</B></U></FONT></FONT></FONT><SPAN STYLE="text-transform: uppercase"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>&nbsp;:</B></FONT></FONT></FONT></SPAN><SPAN STYLE="text-transform: uppercase"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>
	</FONT></FONT></FONT></SPAN></FONT>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="text-transform: uppercase"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="text-transform: uppercase"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2><B>lITIGES</B></FONT></FONT></FONT></SPAN></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>En
	cas de litige, les Parties mettront en œuvre tous leurs efforts
	afin de trouver une solution à l’amiable. A défaut de solution à
	l’amiable, les tribunaux compétents pourront être saisis.</FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>Fait
	à&nbsp;Montpellier, en deux exemplaires originaux, le</FONT></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
	<TABLE WIDTH=668 CELLPADDING=5 CELLSPACING=0>
		<COL WIDTH=222>
		<COL WIDTH=208>
		<COL WIDTH=208>
		<TR VALIGN=TOP>
			<TD WIDTH=222 HEIGHT=98 STYLE="border: none; padding: 0in">
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>Pour
				l’Ecole : Le Directeur,</FONT></FONT></FONT></FONT></P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>Pr
				Serge PRAVOSSOUDOVITCH</FONT></FONT></FONT></FONT></P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>Pour
				visa&nbsp;: Le Responsable du département d’enseignement</FONT></FONT></FONT></FONT></P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">{{ entity.responsableDepartement }}</SPAN></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=208 STYLE="border: none; padding: 0in">
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial, serif"><FONT SIZE=2>l'Élève-ingénieur</FONT></FONT></FONT></P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">{{ entity.titreEtudiant }}
				{{ entity.prenomEtudiant }} {{ entity.nomEtudiant }}</SPAN></FONT></FONT></FONT></P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><A NAME="_GoBack"></A>
				<FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>Pour
				visa&nbsp;: Le Directeur du Partenaire PIFE</FONT></FONT></FONT></FONT></P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">{{ entity.titreRepresentant }}
				{{ entity.prenomRepresentant }} {{ entity.nomRepresentant }}</SPAN></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=208 STYLE="border: none; padding: 0in">
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=2>Pour
				visa&nbsp;: le correspondant du Partenaire PIFE, </FONT></FONT></FONT></FONT>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
				</P>
				<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">{{ entity.titreReferent }}
				{{ entity.prenomReferent }} {{ entity.nomReferent }}</SPAN></FONT></FONT></FONT></P>
			</TD>
		</TR>
	</TABLE>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.04in"><BR>
	</P>
</DIV>
</BODY>
</HTML>