{% extends 'PCFicheBundle::editLayout.html.twig' %}

{% block barre %}
    <li><a id="" name="" href="{{ path('autre_show', { 'id': entity.id }) }}"> Retour à la vue</a> </li>
    <li><a id="" name=""href="{{ path('autre_delete', { 'id': entity.id }) }}"> Supprimer</a></a></li>
    <li><a id="" name="" class="pc_sidebar_element" href="{{ path('fiche') }}"> Retour à la liste</a></a></li>
{% endblock %}
{% block content %}
    <div class="row">
        {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(edit_form) }}
        <div class ="pc_info_group">
            <div class="form-group">
                {{ form_label(edit_form.intitule, "Intitulé", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.intitule) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.intitule, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.objet, "Objet", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.objet) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.objet, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.etatConvention, "Etat de la convention", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.etatConvention) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.etatConvention, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.etatDemande, "Etat de la demande", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.etatDemande) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.etatDemande, {'attr': {'class': ''}})}}
                </div>
            </div>
        </div>
        <div class ="pc_info_group">
            <div class="form-group">
                {{ form_label(edit_form.cocontractant, "Co-contractant", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.cocontractant) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.cocontractant, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.formeJuridiqueCocontractant, "Forme juridique du co-contractant", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.formeJuridiqueCocontractant) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.formeJuridiqueCocontractant, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.adresseSiege, "Adresse siege", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.adresseSiege) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.adresseSiege, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.numeroSiret, "Numéro Siret", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.numeroSiret) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.numeroSiret, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.codeApe, "Code APE", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.codeApe) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.codeApe, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.titreRepresentant, "Titre représentant", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.titreRepresentant) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.titreRepresentant, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.nomRepresentant, "Nom représentant", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.nomRepresentant) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.nomRepresentant, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.prenomRepresentant, "Prenom représentant", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.prenomRepresentant) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.prenomRepresentant, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.fonctionRepresentant, "Fonction représentant", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.fonctionRepresentant) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.fonctionRepresentant, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.demandeurPolytech, "Demandeur Polytech", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.demandeurPolytech) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.demandeurPolytech, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.dateEffet, "Date d'effet", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.dateEffet) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.dateEffet, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.dateEcheance, "Date d'echeance", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.dateEcheance) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.dateEcheance, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.reconductionTacite, "Reconduction tacite", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.reconductionTacite) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.reconductionTacite, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.validationJuridique, "Validation juridique", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.validationJuridique) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.validationJuridique, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.dateValidationJuridique, "Date de validation juridique", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.dateValidationJuridique) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.dateValidationJuridique, {'attr': {'class': ''}})}}
                </div>
            </div>    
            <div class="form-group">
                {{ form_label(edit_form.validationDirection, "Validation de la direction", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.validationDirection) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.validationDirection, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.dateValidationDirection, "Date de validation de la direction", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.dateValidationDirection) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.dateValidationDirection, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.signaturePolytech, "Signature Polytech", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.signaturePolytech) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.signaturePolytech, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.dateSignaturePolytech, "Date signature Polytech", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.dateSignaturePolytech) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.dateSignaturePolytech, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.actionDemandee, "Action demandée", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.actionDemandee) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.actionDemandee, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.suiviActionTexte, "Suivi d'action", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.suiviActionTexte) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.suiviActionTexte, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.suiviActionDate, "Date de Suivi d'action", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.suiviActionDate) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.suiviActionDate, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.observations, "Observations", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.observations) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.observations, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.fluxFinancier, "Flux financier", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.fluxFinancier) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.fluxFinancier, {'attr': {'class': ''}})}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.reservationFonds, "Réservation de fonds", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(edit_form.reservationFonds) }}
                <div class="col-sm-4">
                {{ form_widget(edit_form.reservationFonds, {'attr': {'class': ''}})}}
                </div>
            </div>
        </div>
        {{ form_rest(edit_form) }}
        {{ form_end(edit_form) }}
    </div>                       
{% endblock %}
