{% extends '::layout.html.twig' %}

{% block title %}
{{ parent()}}- liste des fiches
{% endblock %}

{% block body %}        
    <div class="container container-fluid">
        <div class="row">
            <div class="page-header">
                <h1>Liste des fiches.</h1>   
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-default">
                <ul class="nav navbar-nav">
                    <li><a data-placement="top" data-toggle="tooltip" title="Créer une nouvelle fiche" href="{{ path('fiche_new') }}">Créer <span class="fa fa-plus"></span></a></li>
                    <li><a data-placement="top" data-toggle="tooltip" title="Exporter les fiches en csv ou en pdf" href='{{path('export')}}'>Exporter <span class="fa fa-file"></span></a> </li>
                    <li class="dropdown"><a class="dropdown-toggle" title="Voir la liste des avenants, fichiers, etc..." data-toggle="dropdown" href="#">Autres listes <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('avenant') }}">Les avenants</a></li>
                            <li><a href="{{ path('fichier') }}">Les fichiers</a></li>
                            <li><a href="{{ path('departement') }}" >Les departements</a></li>
                            <li><a href="{{ path('local') }}" >Les locaux</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Notifications<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a data-placement='top' data-toggle='modal' data-target='#alertes1'>Les alertes</a></li>
                            <li><a data-placement='top' data-toggle='modal' data-target='#messages'>Les messages</a></li>
                            <li><a data-placement='top' data-toggle='modal' data-target='#expirations'>Les expirations</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <ul class="nav nav-pills" style='margin: 2%'>
               <li class="active"><a data-toggle="pill" href="#1">Les en attente</a></li>
                <li><a data-toggle="pill" href="#2">Les en cours</a></li>
                <li><a data-toggle="pill" href="#3">Les traitées</a></li>
            </ul>
            
            <div class="tab-content">
                <div id="1" class="tab-pane fade in active col-lg-12">
                    <table  id="table1" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Date de création</th>
                                <th>Id</th>
                                <th>Type</th>
                                <th>Sous-type</th>
                                <th>Intitulé</th>
                                <th>Etat de la convention</th>
                                <th>Date d'effet</th>
                                <th>Date d'écheance</th>
                                <th>Nombre d'avenants</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entitiesNonAssignees%}
                                <tr>
                                    <td>{{entity.dateCreation |date('Ymd')}}</td>
                                    <td><a href="{{ path([entity.route ,'_show']|join, { 'id': entity.id }) }}"> {{ entity.id}}</a></td>
                                    <td><a href="{{ path([entity.route ,'_show']|join, { 'id': entity.id }) }}">{{ entity.type.nom }}</a></td>
                                    <td><a href="{{ path([entity.route ,'_show']|join, { 'id': entity.id }) }}" >{{ entity.sousType.nom }}</a></td>
                                    <td><a href="{{ path([entity.route ,'_show']|join, { 'id': entity.id }) }}" >{{ entity.intitule }}</a></td>
                                    <td>{{ entity.etatConvention }}</td>
                                    <td>{% if entity.dateEffet %}{{ entity.dateEffet|date('d/m/Y') }}{% endif %}</td>
                                    <td>{% if entity.dateEcheance %}{{ entity.dateEcheance|date('d/m/Y') }}{% endif %}</td>
                                    <td>
                                        {% if entity.nombreNouveauxAvenants > 0%}
                                            <a  data-placement="top" data-toggle="tooltip" title="Avenants" class="btn pc_skyblue_btn btn-xs" href="{{ path([entity.route ,'_show']|join, { 'id': entity.id }) }}" ><span class="label label-primary">{{ entity.nombreNouveauxAvenants }}</span></a>
                                        {% endif %}
                                    </td> 
                                    <td><a data-placement="top" data-toggle="tooltip" title="Editer" class="btn pc_skyblue_btn btn-xs" href="{{ path([entity.route ,'_edit']|join, { 'id': entity.id }) }}" ><span class="fa fa-edit"></span></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="2" class="tab-pane fade col-lg-12">
                    <table id="table2" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Date de création</th>
                                <th>Id</th>
                                <th>Type</th>
                                <th>Sous-type</th>
                                <th>Intitulé</th>
                                <th>Etat de la convention</th>
                                <th>Date d'effet</th>
                                <th>Date d'écheance</th>
                                <th>Nombre d'avenants</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entitiesEnCours%}
                                <tr>
                                    <td>{{entity.dateCreation |date('Ymd')}}</td>
                                    <td><a href="{{ path([entity.route ,'_show']|join, { 'id': entity.id }) }}" >{{ entity.id }}</a></td>
                                    <td><a href="{{ path([entity.route ,'_show']|join, { 'id': entity.id }) }}" >{{ entity.type.nom }}</a></td>
                                    <td><a href="{{ path([entity.route ,'_show']|join, { 'id': entity.id }) }}" >{{ entity.sousType.nom }}</a></td>
                                    <td><a href="{{ path([entity.route ,'_show']|join, { 'id': entity.id }) }}" >{{ entity.intitule }}</a></td>
                                    <td>{{ entity.etatConvention }}</td>
                                    <td>{% if entity.dateEffet %}{{ entity.dateEffet|date('d/m/Y') }}{% endif %}</td>
                                    <td>{% if entity.dateEcheance %}{{ entity.dateEcheance|date('d/m/Y') }}{% endif %}</td>
                                    <td><a data-placement="top" data-toggle="tooltip" title="Editer" class="btn pc_skyblue_btn btn-xs" href="{{ path([entity.route ,'_edit']|join, { 'id': entity.id }) }}" ><span class="fa fa-edit"></span></a></td>
                                    <td>
                                        {% if entity.nombreNouveauxAvenants > 0%}
                                            <a  data-placement="top" data-toggle="tooltip" title="Avenants" class="btn pc_skyblue_btn btn-xs" href="{{ path([entity.route ,'_show']|join, { 'id': entity.id }) }}" ><span class="label label-primary">{{ entity.ficheNewAvenanstNumber }}</span></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="3" class="tab-pane fade col-lg-12">
                    <table id="table3" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Date de création</th>
                                <th>Id</th>
                                <th>Type</th>
                                <th>Sous-type</th>
                                <th>Intitule</th>
                                <th>Etat</th>
                                <th>Date d'effet</th>
                                <th>Date de fin</th>
                                <th>Actions</th>
                                <th>Avenants</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entitiesEnVigueur%}
                                <tr>
                                    <td>{{entity.dateCreation |date('Ymd')}}</td>
                                    <td><a href="{{ path([entity.route ,'_show']|join, { 'id': entity.id }) }}" >{{ entity.id }}</a></td>
                                    <td><a href="{{ path([entity.route ,'_show']|join, { 'id': entity.id }) }}" >{{ entity.type.nom }}</a></td>
                                    <td><a href="{{ path([entity.route ,'_show']|join, { 'id': entity.id }) }}" >{{ entity.sousType.nom }}</a></td>
                                    <td><a href="{{ path([entity.route ,'_show']|join, { 'id': entity.id }) }}" >{{ entity.intitule }}</a></td>
                                    <td>{{ entity.etatConvention }}</td>
                                    <td>{% if entity.dateEffet %}{{ entity.dateEffet|date('d/m/Y') }}{% endif %}</td>
                                    <td>{% if entity.dateEcheance %}{{ entity.dateEcheance|date('d/m/Y') }}{% endif %}</td>
                                    <td>
                                        {% if entity.nombreNouveauxAvenants > 0%}
                                        <a  data-placement="top" data-toggle="tooltip" title="Avenants" class="btn pc_skyblue_btn btn-xs" href="{{ path([entity.route ,'_show']|join, { 'id': entity.id }) }}" ><span class="label label-primary">{{ entity.ficheNewAvenanstNumber }}</span></a>
                                        {% endif %}
                                    </td>
                                    <td><a data-placement="top" data-toggle="tooltip" title="Editer" class="btn pc_skyblue_btn btn-xs" href="{{ path([entity.route ,'_edit']|join, { 'id': entity.id }) }}" ><span class="fa fa-edit"></span></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>            
        </div>
    </div>                
       
    <!-- les modals pour l'affichage des alertes-->
    {% if alertesA is defined%}
        <div class="modal fade" id="alertes1"  role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content pc_modal">
                    <div class="modal-header pc_modal_header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title">Les alertes</h4>
                    </div>
                    <div class="modal-body">
                        {% block alertes %}
                            <table class='table table-bordered table-condensed'>
                                <thead>
                                    <tr>
                                        <th>Date alerte</th>
                                        <th>nom</th>
                                        <th>message</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for alerte in alertesA %}
                                    <tr>
                                        <td><a href="{{path(alerte.route, { 'id': alerte.ownerId })}}"><span class="label label-warning">{{alerte.dateAlerte|date('d-m-Y')}}</span> </a></td>
                                        <td><a href="{{path(alerte.route, { 'id': alerte.ownerId })}}">{{alerte.intitule}}</a></td>
                                        <td><a href="{{path(alerte.route, { 'id': alerte.ownerId })}}">{{alerte.objet}}</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endblock alertes %}
                    </div>
                    <div class="modal-footer ">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %} 
    
    {% if messagesA is defined %}            
        <div class="modal fade"  id="messages"  role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content pc_modal">
                    <div class="modal-header pc_modal_header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title">Les messages</h4>
                    </div>
                    <div class="modal-body">
                        {% block messages %}
                            <table class='table table-bordered table-condensed'>
                                <thead>
                                    <tr>
                                        <th>Date alerte</th>
                                        <th>nom</th>
                                        <th>message</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for alerte in messagesA%}
                                    <tr>
                                        <td><a href="{{path(alerte.route, { 'id': alerte.ownerId })}}"><span class="label label-warning">{{alerte.dateAlerte|date('d-m-Y')}}</span> </a></td>
                                        <td><a href="{{path(alerte.route, { 'id': alerte.ownerId })}}">{{alerte.intitule}}</a></td>
                                        <td><a href="{{path(alerte.route, { 'id': alerte.ownerId })}}">{{alerte.objet}}</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endblock messages %}
                    </div>
                    <div class="modal-footer ">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Fermer</button>
                    </div>
                </div>
            </div>
        </div>  
    {% endif %} 
    
    {% if alertesExp is defined %}            
        <div class="modal fade" id="expirations"  role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content pc_modal">
                    <div class="modal-header pc_modal_header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title">Les expirations proches</h4>
                    </div>
                    <div class="modal-body">
                        {% block expirations %}
                            <table class='table table-bordered table-condensed'>
                                <thead>
                                    <tr>
                                        <th>Date alerte</th>
                                        <th>nom</th>
                                        <th>message</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for alerte in alertesExp%}
                                    <tr>
                                        <td><a href="{{path(alerte.route, { 'id': alerte.ownerId })}}"><span class="label label-warning">{{alerte.dateAlerte|date('d-m-Y')}}</span> </a></td>
                                        <td><a href="{{path(alerte.route, { 'id': alerte.ownerId })}}">{{alerte.intitule}}</a></td>
                                        <td><a href="{{path(alerte.route, { 'id': alerte.ownerId })}}">{{alerte.objet}}</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endblock expirations %}
                    </div>
                    <div class="modal-footer ">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Fermer</button>
                    </div>
                </div>
            </div>
        </div>  
    {% endif %}
                    
    <script>
        $(document).ready( function () {
            $('#table1').DataTable();
            $('#table2').DataTable();
            $('#table3').DataTable();
        } );
    </script>
{% endblock %}
