{% extends '::layout.html.twig' %}

{% block body -%}
    <div class="Container container-fluid">
            <h1>Demande {{ entity.id }}</h1>

            <table class=" table table-bordered record_properties">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Demandetype</th>
                        <td>{{ entity.demandeType }}</td>
                    </tr>
                    <tr>
                        <th>Demandeintitule</th>
                        <td>{{ entity.demandeIntitule }}</td>
                    </tr>
                    <tr>
                        <th>Demandecocontractant</th>
                        <td>{{ entity.demandeCocontractant }}</td>
                    </tr>
                    <tr>
                        <th>Demandeadresse</th>
                        <td>{{ entity.demandeAdresse }}</td>
                    </tr>
                    <tr>
                        <th>Demandetitrerepresentant</th>
                        <td>{{ entity.demandeTitrerepresentant }}</td>
                    </tr>
                    <tr>
                        <th>Demandenomrepresentant</th>
                        <td>{{ entity.demandeNomrepresentant }}</td>
                    </tr>
                    <tr>
                        <th>Demandeprenomrepresentant</th>
                        <td>{{ entity.demandePrenomrepresentant }}</td>
                    </tr>
                    <tr>
                        <th>Demandedemandeurpolytech</th>
                        <td>{{ entity.demandeDemandeurpolytech }}</td>
                    </tr>
                    <tr>
                        <th>Demandedateeffet</th>
                        <td>{{ entity.demandeDateEffet|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>Demandedatefin</th>
                        <td>{{ entity.demandeDateFin|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>Demandeactiondemandee</th>
                        <td>{{ entity.demandeActionDemandee }}</td>
                    </tr>
                    <tr>
                        <th>Demandeobservations</th>
                        <td>{{ entity.demandeObservations }}</td>
                    </tr>
                    <tr>
                        <th>Demandefluxfinancier</th>
                        <td>{{ entity.demandeFluxFinancier }}</td>
                    </tr>
                    <tr>
                        <th>Demanderesafonds</th>
                        <td>{{ entity.demandeResaFonds }}</td>
                    </tr>
                </tbody>
            </table>

            <div id="bouton" class=" record_actions row col-md-6">
                <a id="" name="" href="{{ path('demande_edit', { 'id': entity.id }) }}" class="btn btn-success">Editer</a>
                <a id="" name="" class="btn btn-success">{{ form(delete_form) }}</a>
                <a id="" name="" class="btn btn-success" href="{{ path('demande_generate', { 'id': entity.id }) }}" >Générer une fiche</a>
                <a id="" name="" class="btn btn-danger">Envoyer relations industrielles</a>
                <a href="{{ path('demande') }}">
                    Retour sur la liste
                </a>
            </div>
    </div>
{% endblock %}
